
@{
    ViewData["Title"] = "RKNO";
    Layout = "~/Views/Home/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<table class="layui-table">
    <tr style="background-color:lavender">
        <td>序号</td>
        <td>申请药品名称</td>
        <td>药品图片</td>
        <td>申请数量</td>
        <td>申请时间</td>
        <td>药品类型</td>
        <td>采购价</td>
        <td>零售价</td>
        <td>申请人</td>
        <td>备注</td>
        <td>操作</td>
    </tr>
    <tbody id="tb">
    </tbody>
</table>
<script>
    $(function () {
        init();
    })

    function init() {
        var i = 1;
        var js = sessionStorage.getItem("Rname");
        $.ajax({
            url: "http://localhost:4965/api/ZHQ_RK/GetRKSQ",
            data: {},
            type: "get",
            dataType: "json",
            success: function (d) {
                $("#tb").empty();
                $(d).each(function () {
                    if (js == "仓管" && this.rksqState == 10) {
                        var str = "<tr>" +
                            "<td>" + i + "</td>" +
                            "<td>" + this.rksqypName + "</td>" +
                            "<td><img src='" + this.rksqImg + "' style='height:50px;width:50px'/></td>" +
                            "<td>" + this.rksqNum + "</td>" +
                            "<td>" + this.gtime + "</td>" +
                            "<td>" + this.rksqlx + "</td>" +
                            "<td>" + this.rksqcgj + "</td>" +
                            "<td>" + this.rksqlsj + "</td>" +
                            "<td>" + this.rksqName + "</td>" +
                            "<td>" + this.rksqDesc + "</td>" +
                            "<td><a style='color:blue' href='#' onclick='SC(" + this.rksqId + ")'>删除</a></td>" +
                            "</tr>";
                        $("#tb").append(str);
                        i++;
                    }
                })
            }
        })
    }

    function SC(id) {
        if (confirm('确认删除吗?')) {
            $.ajax({
                url: "http://localhost:4965/api/ZHQ_RK/DelRKSQ",
                data: { id: id },
                type: "get",
                dataType: "json",
                success: function (d) {
                    if (d > 0) {
                        init();
                    } else {
                        alert('删除失败！');
                    }
                }
            })
        }
      
    }
</script>


