
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>AddQuan</title>
</head>
<body>
    <table class="table-bordered">
        <tr>
            <th><input id="CKAll" type="checkbox" /></th>
            <th>权限id</th>
            <th>权限描述</th>
            <th>权限码</th>
        </tr>
        <tbody id="tb">
            <tr>
                <td>权限id</td>
                <td>权限描述</td>
                <td>权限码</td>
            </tr>
        </tbody>
    </table>
    <div>
        <input id="Button1" type="button" value="配置完成" onclick="AddQuan()"/>
    </div>
</body>
</html>
<script>
    $().ready(function () {


        Shows();
    });
    function Shows()
    {
        $.ajax({
            url: "http://localhost:4965/api/Hzx_Login/GetQuanxians",
            type: "get",
            dataType: "json",
            success: function (d)
            {
                $("#tb").empty();
                $(d).each(function () {

                    $("#tb").append("<tr>" +
                        "<td><input name='CKone' type='checkbox' value='"+this.qid+"' /></td >" +
                        "<td>"+this.qid+"</td >"+
                        "<td>" + this.qremark+"</td>"+
                        "<td>" + this.qma + "</td>" +
                        "<td> <input id='Button1' type='button' value='配置' /></td>" +
            "</tr >");

                });



            }




        });


    }

</script>
<script>
 
    function AddQuan()
    {
        var Rids =@ViewBag.Rid;
        var Qids = [];
        $("[name=CKone]").each(function () {

            if ($(this).prop("checked") == true) {
                Qids.push($(this).val());
            }
            

        });
        if (Qids.length <= 0)
        {
            alert("请选择权限");
        }
        var r = new Object();
        var r= new FormData();

        r.append("qid", Qids.toString());
        r.append("rid", Rids);
        $.ajax({
            url: "http://localhost:4965/api/Hzx_Login/Addquan",
            data: r,
            type: "post",
            dataType: "json",
            contentType: false,
            processData: false,
            success: function (d)
            {
                if (d > 0)
                {
                    alert("配置成功");
                    location.href = "/HzxLogin/Index";
                }
                else {
                    alert("配置失败");
                }


            }

            



        });
        

   
    


    }
</script>
