
@{
    Layout = null;
}


<script src="~/lib/jquery/dist/jquery.js"></script>
<body>

    <div style="height:100px;margin-top:30px">
        <div>
            <h3 style="margin-top:50px;margin-left:100px;margin-top:40px;float:left">角色名称</h3>
            <input type="text" id="Rname" name="title" style="width:200px;margin-left:20px;float:left;margin-top:30px;height:45px; border-radius:10px" lay-verify="title" autocomplete="off" placeholder="请填写新增角色名称" class="layui-input">
            <button type="button" style="margin-left:auto;margin-top:35px;" onclick="AddRelo()" class="layui-btn">添加</button>
        </div>

    </div>


</body>
<script>
    function AddRelo() {

        var r = {};
        r.Rname= $("#Rname").val();
        $.ajax({
            url: "http://localhost:4965/api/Hzx_Login/Addrole",
            data: r,
            type: "post",
            dataType: "json",
            success: function (d) {
                if (d > 0) {
                    alert("添加成功");
                    
                }
                else {
                    alert("添加失败");
                }




            }

        });

    }
</script>