@using Core.MVC.Models;
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/_Layout.cshtml";
    string Qma = ViewData["Qma"] as string;
}
<html>
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>     
<body>
    <div>
        <div>
            <form class="layui-form">
                <div class="layui-form-item" style="float:left">
                    <label class="layui-form-label">选择框</label>
                    <div class="layui-input-block" style="width:300px">
                        <select name="city" lay-verify="required" id="keshi">
                            <option value="0">全科</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div style="float:left">
            <input type="text" name="title" id="txt_name" required lay-verify="required" placeholder="请输入员工姓名" autocomplete="off" class="layui-input" onchange="Shows()">
        </div>
        <div>

            <button type="button" style="margin-left:auto" onclick="Shows()" class="layui-btn">查询</button>

        </div>

    </div>
    <div style="">
        <table class="layui-table" style="text-align:center;margin-left:30px">

            <thead style="background-color:lavender">
                <tr style="background-color:lavender">

                    <th style="text-align:center">员工编号</th>
                    <th style="text-align:center">员工姓名</th>
                    <th style="text-align:center">员工性别</th>
                    <th style="text-align:center">员工年龄</th>
                    <th style="text-align:center">员工手机号</th>
                    <th style="text-align:center">所属科室</th>
                    <th style="text-align:center">入职时间</th>
                    <th style="text-align:center">操作人</th>
                    <th style="text-align:center">员工状态</th>
                    <th style="text-align:center">员工账号</th>
                    <th style="text-align:center">员工密码</th>
                    <th style="text-align:center">员工职位</th>
                    <th style="text-align:center">员工血型</th>
                    <th style="text-align:center">员工籍贯</th>
                    <th style="text-align:center">员工权限</th>
                    <th style="text-align:center">操作</th>
                </tr>
            </thead>
            <tbody id="tb">
            </tbody>
        </table>
    </div>
    <div style="margin-left:500px;">
        <input id="Button1" type="button" value="首页" class="layui-btn" onclick="Showy()" />
        <input id="Button1" type="button" value="上一页" class="layui-btn" onclick="pore()" />
        <input id="Button1" type="button" value="下一页" class="layui-btn" onclick="Next()" />
        <input id="Button1" type="button" value="尾页" class="layui-btn" onclick="wei()" />
        当前页/总页数:<span style="color:blue" id="sp"></span>
    </div>
</body>
</html>
<script>
    var pageindex = 1;
    var pagesize = 5;
    var pageCount = 0;
    function Showy() {

        pageindex = 1;
        $("#sp").text(pageindex);
        Shows();


    }
    function pore() {
        if (pageindex == 1) {
            alert("已经到首页了");
            return;
        }
        pageindex--;
        $("#sp").text(pageindex);
        Shows();


    }
    function Next() {
        if (pageindex == pageCount) {
            alert("已经到尾页了");
            return;
        }
        pageindex++;
        $("#sp").text(pageindex);
        Shows();

    }
    function wei() {
        pageindex = pageCount;
        $("#sp").text(pageindex);
        Shows();

    }
    var name = sessionStorage.getItem("Uname");
    var Qma = sessionStorage.getItem("Qma");
    var form;
    layui.use('form', function () {
        form = layui.form;
       form.render('select');
        //监听提交
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
    });

    $().ready(function () {
        //显示

        keshi();
        Shows();
      
    });
    function keshi()
    {
        
        $.ajax({
            url: "http://localhost:4965/api/Hzx_Login/GetKeshis",
            type: "get",
            dataType: "json",
            success: function (d)
            {
                $("#keshi").empty();
                $("#keshi").append("<option value='0'>全科</option>");
                $(d).each(function () {
                    var str = "<option value='"+ this.kid + "'>" + this.kname + "</option>";
                    $("#keshi").append(str);
                });
            }
        });
        
    }
    function Shows()
    {
        

        var Uname = $("#txt_name").val();
        var kid = $("#keshi").val();
        var qma = Qma;
        $.ajax({
            url: "http://localhost:4965/api/Hzx_Login/GetUserinfos",
            data: {Ukeids:kid,Uname:Uname,pageindex:pageindex,pagesize:pagesize},
            type: "get",
            dataType: "json",
            async: false,
            success: function (d)
            {
                $("#tb").empty();
                $(d.list).each(function () {
                    $("#tb").append("<tr>" +
                 "<td style='color:forestgreen'>" + this.uno + "</td>" +
                 "<td style='text - align: center'>"+this.uname+"</td >"+
                "<td style='text - align: center'>"+(this.usex?"男":"女")+"</td>"+
                "<td style='text - align: center'>"+this.uage+"</td>"+
                "<td style='text - align: center'>"+this.uiphone+"</td>"+
                "<td style='text - align: center'>"+this.kname+"</td>"+
                "<td style='text - align: center '>" +this.createTime+"</td>"+
                "<td style='text - align: center'>" + this.creatName+"</td>"+
                "<td style='color:red'>"+(this.uissale?"离职":"正常工作")+"</td>"+
                "<td style='text - align: center'>"+this.uzhanghao+"</td>"+
                "<td style='text - align: center'>"+this.upass+"</td>"+
                "<td style='text - align: center'>"+this.rname+"</td>"+
                "<td style='text - align: center'>"+this.uxue+"</td>"+
                "<td style='text - align: center'>"+this.cname+"</td>"+
                "<td style='text - align: center'>" + this.qremark + "</td>" +
                 "<td style='text - align: center'>" + (qma == "ABCD" ? "<a style='color:darkslateblue;font-weight:bold' onclick='DelUser(" + this.uid + ")'>删除</a>&nbsp;<a style='color:darkslateblue;font-weight:bold' onclick='UpdUser(" + this.uid + ")'>修改</a>" : qma == "A" ? "" : qma == "Yi" ? "<a style='color:darkslateblue;font-weight:bold' onclick='DelUser(" + this.uid + ")'>删除</a>":"") + "</td>" +
            "</tr>");
                });
                pageCount = Math.ceil(d.count * 1.0 / pagesize);
                $("#sp").text(pageindex + "/" + pageCount);
            }
        });
        
    }
    
    function DelUser(uid)
    {
        if (confirm("确认删除吗？")) {



        $.ajax({
            url: "http://localhost:4965/api/Hzx_Login/DelUserinfo?Uid="+uid,
            type: "post",
            dataType: "json",
            success: function (d)
            {
                if (d > 0)
                {
                    alert("删除成功");
                    location.reload();
                }
                else {
                    alert("删除失败");

                }
            }

        });
        }
    }

    
    function UpdUser(uid)
    {
        location.href = "/HzxLogin/UpdUser?Uid=" + uid;

    }
</script>


