
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <img width="100%" height="100%" src="~/img/1.png" style="position:absolute; left:0; top:0; z-index:-1;" />
    <div id="main" style="background-color:white">
        <div style="padding:50px 20px 50px 20px">
            <h2 style="color:blue;font-weight:800;margin-left:50px">诊所内部管理平台</h2>
            <div class="input-group" style="margin-top:30px">
                <span class="input-group-addon"><img src="~/imgs/u12.svg" style="width:30px;height:30px" /></span>
                <input id="Uname" type="text" class="form-control" placeholder="请输入用户名...." style="width:50px">
            </div>
            @*<div class="input-group" style="margin-top:30px">
                    <span class="input-group-addon">
                        <img src="~/img/u13.svg" style="width:30px;height:30px;background-color: Transparent; border-style: none;" />
                    </span>
                    <input id="MessageText" type="text" class="form-control" style="background-color: Transparent; border-style: none;" >
                    <button type="button" class="btn btn-default" style="width:80px;color:blue;border:1px solid blue;font-size:6px" onclick="">发送验证码</button>
                </div>*@
            <div class="input-group" style="margin-top:30px">
                <span class="input-group-addon">
                    <img src="~/imgs/u17.svg" style="width:30px;height:30px" />
                </span>
                <input id="Upass" type="password" placeholder="请输入密码...." class="form-control" style="background-color: Transparent; border-style: none;">
            </div>
            <div class="input-group" style="margin-left:70px;width:400px;height:30px">
                <div class="sliding">
                    请按住滑块，拖至最右侧。
                    <p></p>
                    <span class="span1_back"></span>

                </div>
            </div>
            <div style="margin-top:50px">
                <input class="btn btn-primary" style="width:200px;margin-left:100px" type="button" value="登录" id="btn_log" onclick="Login()" />
            </div>
            <div style="float:right">
                <a onclick="zhao()" style="color:aqua">找回密码</a>
            </div>
            <div style=" margin-top:50px;"><center><p class="name">版权所有：🐒花果山工作室 联系电话:1763612428</p></center></div>
        </div>
    </div>
</body>
</html>
<style>
    #main {
        position: absolute;
        width: 600px;
        height: 450px;
        left: 50%;
        top: 50%;
        margin-left: -300px;
        margin-top: -200px;
    }

    .sliding {
        width: 400px;
        height: 40px;
        margin: 20px auto;
        background: rgba(212, 212, 212, 1);
        text-align: center;
        line-height: 40px;
        position: relative;
    }

        .sliding > p {
            width: 0px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: #7BBB55;
            z-index: 99;
            color: #FFFFFF;
            text-align: center;
            overflow: hidden;
        }

        .sliding > span {
            display: block;
            width: 46px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-size: cover;
            cursor: pointer;
            z-index: 999;
        }

    .span1_back {
        background: url(http://localhost:6969/imgs/left.png) no-repeat center center;
    }

    .span2_back {
        background: url(http://localhost:6969/imgs/left.png)no-repeat center center;
    }
</style>
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
@*<link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <link href="~/layuiadmin/style/admin.css" rel="stylesheet" />
    <script src="~/layer/layer.js"></script>
    <script src="~/layuiadmin/layui/layui.js"></script>*@
<script type="text/javascript">
    $(function () {
        $('#btn_log').attr("disabled", true);
        $('.sliding > span').on('mousedown', function (ev) {
            //获取鼠标摁下的位置
            var down_X = ev.clientX;
            //获取p,span的宽度
            var p_W = $('.sliding > p').get(0).offsetWidth;
            var span_X = $('.sliding > span').get(0).offsetLeft;
            $(document).get(0).onmousemove = function (ev) {
                //获取鼠标移动的位置
                var move_X = ev.clientX;
                //用移动过后的位置减去鼠标摁下的位置加上p的宽度或者 span 的left 值 因为俩者是同步的 所以 减去 其中一个就好
                var size = move_X - down_X + p_W;
                if (size > 0) {// 移动的时候判断size>0的时候执行，Math.min选取最小值，让拖动过程中不至于超出
                    size = Math.min(($('.sliding').get(0).offsetWidth - $('.sliding > span').get(0).offsetWidth), size);
                } else {
                    //小于0的时候 size =0； 防止有无聊的用户拖回 超出边界
                    size = 0;
                }
                $('.sliding > p').css('width', size + 'px');
                $('.sliding > span').css('left', size + 'px');
                //防止拖拽过程中选中文字
                return false;
            }
            $(document).get(0).onmouseup = function () {
                //鼠标松开执行,判段span到达边界时候执行
                if (($('.sliding > span').get(0).offsetLeft) >= ($('.sliding').get(0).offsetWidth - $('.sliding > span').get(0).offsetWidth)) {
                    //更改span的背景图片
                    $('.sliding > span').attr('class', 'span2_back');
                    //更改p标签中的内容
                    $('.sliding > p').text('验证通过');
                    //验证成功之后执行的方法
                    successAfter();

                    //删除鼠标摁下方法防止用户 无聊往回 推拽
                    $('.sliding > span').off('mousedown');
                } else {
                    //判断没到达边界让它再回到起点
                    //利用jquery让p 和 span 回到起始状态
                    $('.sliding > span').animate({ left: '0px' }, 300);
                    $('.sliding > p').animate({ width: '0px' }, 300);
                }
                $(document).get(0).onmousemove = null; //最后让 鼠标移动 和 鼠标松开 事件停止
                $(document).get(0).onmouseup = null;
            }
        })
    });
    function successAfter() {
        $('#btn_log').removeAttr("disabled");
    }
</script>
<script>
      
    function Login() {
        var Uname = $("#Uname").val();
        var Upass = $("#Upass").val();
        $.ajax({
            url: "http://localhost:4965/api/Hzx_Login/Login",
            type: "get",
            data: { uname: Uname, Upass: Upass },
            dataType: "json",
            success: function (d) {
                if (d != null) {

                    //跳用户界面
                    sessionStorage.setItem("Uname", d.uname);
                    sessionStorage.setItem("Upass", d.upass);
                    sessionStorage.setItem("Qma", d.qma);
                    sessionStorage.setItem("Rname", d.rname);
                    sessionStorage.setItem("Uid", d.uid);
                    j = {};
                    j.Uname = $("#Uname").val();
                    j.Zwei = sessionStorage.getItem("Rname");
                    $.ajax({
                        url: "http://localhost:4965/api/Hzx_Login/AddJlu",
                        data: j,
                        type: "post",
                        dataType: "json",
                        success: function (d)
                        {
                            if (d > 0)
                            {
                                location.href = "/ZHQ_RK/ShowKC";
                            }
                            else {
                                return;
                            }


                        }

                        






                    });
                   

                }
                else {
                    alert("登陆失败！");
                    location.href = "/HzxLogin/Login";
                }
            }
        })
    }
    function zhao() {
        var Uname = $("#Uname").val();
        if (Uname == "") {
            alert("请输入用户名");
            return;
        }
        location.href = "/HzxLogin/zhao?Uname=" + Uname;

    }


   


</script>