
@{
    ViewData["Title"] = "Showgua";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<html>
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <button type="button" style="margin-left:50px;" onclick="location.href='/Hzx_Login/Addguahao'" class="layui-btn">添加</button>

        <div>

            <form class="layui-form">
                <div class="layui-form-item" style="float:left">
                    <label class="layui-form-label">选择框</label>
                    <div class="layui-input-block" style="width:300px">
                        <select name="city" lay-verify="required" id="keshi">
                            <option value="0">全科</option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div style="float:left">
            <input type="text" name="title" id="txt_name" required lay-verify="required" placeholder="请输入接诊医生姓名" autocomplete="off" class="layui-input" onchange="Shows()">
        </div>
        <div>
            <button type="button" style="margin-left:auto" onclick="Shows()" class="layui-btn">查询</button>

        </div>

    </div>
    <div style="">
        <table class="layui-table" style="text-align:center;margin-left:30px">
            <thead style="background-color:lavender">
                <tr style="background-color:lavender">
                    <th style="text-align:center">挂号科室</th>
                    <th style="text-align:center">接诊类型</th>
                    <th style="text-align:center">接诊医生</th>
                    <th style="text-align:center">挂号费</th>
                    <th style="text-align:center">挂号时间</th>
                    <th style="text-align:center">挂号人</th>
                    <th style="text-align:center">诊疗费</th>
                    <th style="text-align:center">患者姓名</th>
                    <th style="text-align:center">患者卡号</th>
                    <th style="text-align:center">患者年龄</th>
                    <th style="text-align:center">患者性别</th>
                    <th style="text-align:center">患者手机号</th>
                    <th style="text-align:center">患者家乡</th>
                    <th style="text-align:center">状态</th>
                    <th style="text-align:center">操作</th>
                    <td style="text-align:center">是否接诊</td>
                </tr>
            </thead>
            <tbody id="tb">
                <tr style="background-color:lavender">
                    <td style="text-align:center">挂号单号</td>
                    <td style="text-align:center">挂号科室</td>
                    <td style="text-align:center">接诊类型</td>
                    <td style="text-align:center">接诊医生</td>
                    <td style="text-align:center">挂号费</td>
                    <td style="text-align:center">挂号时间</td>
                    <td style="text-align:center">挂号人</td>
                    <td style="text-align:center">诊疗费</td>
                    <td style="text-align:center">患者姓名</td>
                    <td style="text-align:center">患者卡号</td>
                    <td style="text-align:center">患者年龄</td>
                    <td style="text-align:center">患者性别</td>
                    <td style="text-align:center">患者手机号</td>
                    <td style="text-align:center">患者家乡</td>
                    <td style="text-align:center">状态</td>
                    <td style="text-align:center">操作</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-left:500px;">
        <input id="Button1" type="button" value="首页" class="layui-btn" onclick="Showy()" />
        <input id="Button1" type="button" value="上一页" class="layui-btn" onclick="pore()" />
        <input id="Button1" type="button" value="下一页" class="layui-btn" onclick="Next()" />
        <input id="Button1" type="button" value="尾页" class="layui-btn" onclick="wei()" />
        当前页/总页数:<span style="color:blue" id="sp"></span>
    </div>
</body>
</html>
<script>
    var pageindex = 1;
    var pagesize = 5;
    var pageCount = 0;
    function Showy() {

        pageindex = 1;
        $("#sp").text(pageindex);
        Shows();


    }
    function pore() {
        if (pageindex == 1) {
            alert("已经到首页了");
            return;
        }
        pageindex--;
        $("#sp").text(pageindex);
        Shows();


    }
    function Next() {
        if (pageindex == pageCount) {
            alert("已经到尾页了");
            return;
        }
        pageindex++;
        $("#sp").text(pageindex);
        Shows();

    }
    function wei() {
        pageindex = pageCount;
        $("#sp").text(pageindex);
        Shows();

    }
    var form;
    layui.use(['form', 'layedit', 'laydate'], function () {
        form = layui.form
        form.render('select')
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

      
    });
    var qma = sessionStorage.getItem("Qma");
    $().ready(function () {
        keshi();
        Shows();

        var qma = Qma;
    });
    function Shows()
    {
        var kid = $("#keshi").val();
        var yname = $("#txt_name").val();
        $.ajax({
            url: "http://localhost:4965/api/Hzx_Login/GetX_Guahaos",
            data: {kid:kid,yname:yname,pageindex:pageindex,pagesize:pagesize},
            type: "get",
            dataType: "json",
            success: function (d) {
                $("#tb").empty();
                $(d.list).each(function () {

                    $("#tb").append("<tr>" +
                        "<td style='text-align:center'>" + this.kname + "</td>" +
                        "<td style='text-align:center'>" + this.jname + "</td>" +
                        "<td style='text-align:center'>" + this.yname + "</td>" +
                        "<td style='text-align:center'>" + this.moneyInfnses + "</td>" +
                        "<td style='text-align:center'>" + this.gtime + "</td>" +
                        "<td style='text-align:center'>" + this.gpelete + "</td>" +
                        "<td style='text-align:center'>" + this.moneyInfn + "</td>" +
                        "<td style='text-align:center'>" + this.hname + "</td>" +
                        "<td style='text-align:center'>" + this.hkahao + "</td>" +
                        "<td style='text-align:center'>" + this.hage + "</td>" +
                        "<td style='text-align:center'>" + (this.hsex?"男":"女") + "</td>" +
                        "<td style='text-align:center'>" + this.hiphone + "</td>" +
                        "<td style='text-align:center'>" + this.cname + "</td>" +
                        "<td style='text-align:center'>" + (this.xissale?"已就诊":"未就诊") + "</td>" +
                        "<td style='text - align: center'>" + (qma == "ABCD" ? "<a style='color:darkslateblue;font-weight:bold' onclick='Delguahao(" + this.gid + ")'>退号</a>&nbsp;<a style='color:darkslateblue;font-weight:bold' onclick='Updguahao(" + this.gid + ")'>编辑</a>" : qma == "A" ? "" : qma == "Yi" ? "<a style='color:darkslateblue;font-weight:bold' onclick='Delguahao(" + this.gid + ")'>退号</a>" : "") + "</td>" +
                        "<td style='text - align: center'>" + (this.xissale == "0" ? "<a style='color:darkslateblue;font-weight:bold' onclick='Updzhang(" + this.gid + ")'>接诊</a>": "") + "</td>" +
                        "</tr >");
                });
                pageCount = Math.ceil(d.count * 1.0 / pagesize);
                $("#sp").text(pageindex + "/" + pageCount);
            }
        });
    }
    function Delguahao(gid)
    {
        if (confirm("确认删除吗？")) {

            $.ajax({
                url: "http://localhost:4965/api/Hzx_Login/Delhao?Gid=" + gid,
                type: "post",
                dataType: "json",
                success: function (d) {
                    if (d > 0) {
                        alert("退号成功");
                        location.reload();
                    }
                    else {
                        alert("退号失败");

                    }
                }

            });
        }
    }
    function Updguahao(gid) {
        location.href = "/HzxLogin/Updguahao?Gid=" + gid;

    }
    function keshi() {
        $.ajax({
            url: "http://localhost:4965/api/Hzx_Login/GetKeshis",
            type: "get",
            dataType: "json",
            async: false,
            success: function (d) {
                $("#keshi").empty();
                $("#keshi").append("<option value='0'>请选择</option>");
                $(d).each(function () {
                    var str = "<option value='" + this.kid + "'>" + this.kname + "</option>";
                    $("#keshi").append(str);
                });
            }
        });
    }
    function Updzhang(gid)
    {
        location.href = "/HzxLogin/Jzhospital?Gid="+gid+"&ma="+2;
    }
</script>
