
@{
    ViewData["Title"] = "ShowBinli";
    Layout = "~/Views/Home/_Layout.cshtml";
}


<html>
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <div>
            <form class="layui-form">
                <div class="layui-form-item" style="float:left">
                    <label class="layui-form-label">选择框</label>
                    <div class="layui-input-block" style="width:300px">
                        <select name="city" lay-verify="required" id="jztype">
                            <option></option>
                        </select>
                    </div>
                </div>
            </form>
        </div>
        <div style="float:left">
            <input type="text" name="title" id="Hname" required lay-verify="required" placeholder="请输入患者姓名" autocomplete="off" class="layui-input" onchange="Shows()">
        </div>
        <div>

            <button type="button" style="margin-left:auto" id="btu1" class="layui-btn">查询</button>

        </div>

    </div>
    <div style="">
        <table class="layui-table" style="text-align:center;margin-left:30px">
            <thead style="background-color:lavender">
                <tr style="background-color:lavender">
                    <th style="text-align:center">患者姓名</th>
                    <th style="text-align:center">患者卡号</th>
                    <th style="text-align:center">患者年龄</th>
                    <th style="text-align:center">患者出生日期</th>
                    <th style="text-align:center">患者性别</th>
                    <th style="text-align:center">患者手机号</th>
                    <th style="text-align:center">患者身份证</th>
                    <th style="text-align:center">接诊类型</th>
                    <th style="text-align:center">地址</th>
                    <th style="text-align:center">详情地址</th>
                    <th style="text-align:center">诊断</th>
                    <th style="text-align:center">医嘱</th>
                </tr>
            </thead>
            <tbody id="tb">
                <tr style="background-color:lavender">
                    <td style="text-align:center">患者姓名</td>
                    <td style="text-align:center">患者卡号</td>
                    <td style="text-align:center">患者年龄</td>
                    <td style="text-align:center">患者出生日期</td>
                    <td style="text-align:center">患者性别</td>
                    <td style="text-align:center">患者手机号</td>
                    <td style="text-align:center">患者身份证</td>
                    <td style="text-align:center">接诊类型</td>
                    <td style="text-align:center">地址</td>
                    <td style="text-align:center">详情地址</td>
                    <td style="text-align:center">诊断</td>
                    <td style="text-align:center">医嘱</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div style="margin-left:500px;">
        <input id="Button1" type="button" value="首页" class="layui-btn" onclick="Showy()" />
        <input id="Button1" type="button" value="上一页" class="layui-btn" onclick="pore()" />
        <input id="Button1" type="button" value="下一页" class="layui-btn" onclick="Next()" />
        <input id="Button1" type="button" value="尾页" class="layui-btn" onclick="wei()" />
        当前页/总页数:<span style="color:blue" id="sp"></span>
    </div>
</body>
</html>
<script>
    var pageindex = 1;
    var pagesize = 5;
    var pageCount = 0;
    function Showy() {

        pageindex = 1;
        $("#sp").text(pageindex);
        Shows();


    }
    function pore() {
        if (pageindex == 1) {
            alert("已经到首页了");
            return;
        }
        pageindex--;
        $("#sp").text(pageindex);
        Shows();


    }
    function Next() {
        if (pageindex == pageCount) {
            alert("已经到尾页了");
            return;
        }
        pageindex++;
        $("#sp").text(pageindex);
        Shows();

    }
    function wei() {
        pageindex = pageCount;
        $("#sp").text(pageindex);
        Shows();

    }
    var form;
    layui.use(['form', 'layedit', 'laydate'], function () {
        form = layui.form
        form.render('select')
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });


    });
    $("#btu1").click(function () {
        pageindex = 1;
        Shows();
    });
    $().ready(function () {

       
        getJtype();
        Shows();
       
    });
    function Shows()
    {
        var Jztid = $("#jztype").val();
        var Hname = $("#Hname").val();
        $.ajax({
            url: "http://localhost:4965/api/Hzx_Login/GetChufangs",
            data: { jztid: Jztid, Hname: Hname,pageindex:pageindex, pagesize:pagesize},
            type: "get",
            dataType: "json",
            success: function (d)
            {
                $("#tb").empty();
                $(d.list).each(function () {

                    $("#tb").append("<tr>"+
                    "<td style='text-align:center'>"+this.hname+"</td >"+
                    "<td style='text-align:center'>"+this.hkahao+"</td>"+
                    "<td style='text-align:center'>"+this.hage+"</td>"+
                    "<td style='text-align:center'>"+this.hcreatetime+"</td>"+
                    "<td style='text-align:center'>"+(this.hsex?"男":"女")+"</td>"+
                    "<td style='text-align:center'>"+this.hiphone+"</td>"+
                    "<td style='text-align:center'>"+this.hsfz+"</td>"+
                    "<td style='text-align:center'>"+this.jname+"</td>"+
                    "<td style='text-align:center'>"+this.cname+"</td>"+
                    "<td style='text-align:center'>"+this.haddress+"</td>"+
                    "<td style='text-align:center'>"+this.zduan+"</td>"+
                    "<td style='text-align:center'>"+this.yizhu+"</td>"+
                "</tr >");
                });
                pageCount = Math.ceil(d.count * 1.0 / pagesize);
                $("#sp").text(pageindex + "/" + pageCount);
            }
        });
    }
    function getJtype() {
        $.ajax({
            url: "http://localhost:4965/api/Hzx_Login/GetJZtypes",
            type: "get",
            dataType: "json",
            async: false,
            success: function (d) {
                $("#jztype").empty();
                $("#jztype").append("<option value='0'>请选择</option>");
                $(d).each(function () {
                    var str = "<option value='" + this.jid + "'>" + this.jname + "</option>";
                    $("#jztype").append(str);

                });


            }
        });
    }
</script>

