
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/css/cmd.css" rel="stylesheet" />
<h1 style="color:red;margin-left:50px;margin-top:30px">工作台</h1>
<br />
<div>
    <div style="float:left;margin-left:30px">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12">
            <div class="layui-form-item" style="width:300px">
                <label class="layui-form-label">开始时间：</label>
                <div class="layui-input-block">
                    <input type="text" id="sTime" name="sTime" model="datetime"
                           format="yyyy-MM-dd" placeholder="yyyy-MM-dd" autocomplete="off"
                           class="layui-input test-item" />
                </div>
            </div>
        </div>
    </div>
    <div style="float:left">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12">
            <div class="layui-form-item" style="width:300px">
                <label class="layui-form-label">结束时间：</label>
                <div class="layui-input-block">
                    <input type="text" id="eTime" name="eTime" model="datetime"
                           format="yyyy-MM-dd" placeholder="yyyy-MM-dd" autocomplete="off"
                           class="layui-input test-item" />
                </div>
            </div>
        </div>
    </div>

    <div>
        <div class="layui-input-block" style="width:300px;float:left">
            <input type="text" id="aaa" placeholder="请输入患者信息" class="layui-input" />
        </div>
        <div style="float:left">
            <button type="button" class="layui-btn" id="btnCX">查询</button>
        </div>
    </div>
</div>
<div>
    <div id="ddd" style="width:1600px;height:500px;float:left">
        <div id="div1">
        </div>
        <div id="div2">
            <div id="d1">

            </div>
            <div id="d1">

            </div>
            <div id="d1">

            </div>
        </div>
    </div>
    <br />
        <div align="center" style="float:left;margin-top:260px;margin-left:583px">
            <button type="button" style="margin-left:auto" id="SY" class="layui-btn">首页</button>
            <button type="button" style="margin-left:auto" id="SXY" class="layui-btn">上一页</button>
            <button type="button" style="margin-left:auto" onclick="XXY()" class="layui-btn">下一页</button>
            <button type="button" style="margin-left:auto" id="WY" class="layui-btn">尾页</button>
            当前页/总页数:<span style="color:blue" id="sp"></span>
        </div>
</div>
<script>
    $(function () {
        layui.use('form', function () {
            form = layui.form;
            var layData = ['form', 'laydate'];
            layui.use(layData, function () {
                var laydate = layui.laydate;
                laydate.render({
                    elem: '#sTime'
                });
                laydate.render({
                    elem: '#eTime'
                });
            });
            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
                return false;
            });

        });
        ShowPatients();
        aaa();
        ShowVIPType();

    })
    //会员下拉
    function ShowVIPType() {
        $.ajax({
            url: "http://localhost:4965/api/Zzh_Patient/GetMemberType",
            type: "get",
            dataType: "json",
            success: function (d) {
                $(d).each(function () {
                    var html = "<option value='" + this.memberTypeId + "'>" + this.memberTypeName + "</option>";
                    $("#VIPgrade").append(html);
                    form.render('select');
                });
            }
        })
    }

    function aaa() {
        $.ajax({
            url: "http://localhost:4965/api/Zzh_Patient/GetDepartment",
            type: "get",
            dataType: "json",
            success: function (d) {
                $(d).each(function () {
                    var html = "<option value='" + this.departmentId + "'>" + this.departmentName + "</option>";
                    $("#www").append(html);
                    form.render('select');
                });

            }

        })
    }
    var pageindex = 1;
    var pagesize = 9;
    var count = 0;  //总条数
    var pagecount = 0;  //总页数

    $("#btnCX").click(function () {
        pageindex = 1;
        ShowPatients();

    })

    $("#SXY").click(function () {
        if (pageindex == 1) {
            alert('已经是第一页');
            return;
        }
        pageindex = pageindex - 1;
        $("#sp").text(pageindex);
        ShowPatients();
    })

    $("#SY").click(function () {
        pageindex = 1;
        $("#sp").text(pageindex);
        ShowPatients();
    })
    $("#WY").click(function () {
        pageindex = pagecount;
        $("#sp").text(pageindex);
        ShowPatients();
    })
    function XXY() {
        if (pageindex == pagecount) {
            alert('已经是最后一页');
            return;
        }
        pageindex = pageindex + 1;
        $("#sp").text(pageindex);
        ShowPatients();
    }
    function ShowPatients() {
        var img;
        var name = $("#aaa").val();
        var tj = 0;
        var regu = /^1[3|4|5|7|8][0-9]{9}$/;
        var re = new RegExp(regu);
        var han = /^[\u4e00-\u9fa5]+$/;
        console.log(han.test(name));
        if (han.test(name)) {
            tj = 1;
        }
        else if (re.test(name)) {
            tj = 2;
        }
        var sdate = $("#sTime").val();
        var edate = $("#eTime").val();
        var a;
        var b;
        $.ajax({
            url: "http://localhost:4965/api/Zzh_Patient/GetPatient",
            type: "get",
            dataType: "json",
            data: { name: name, tj: tj, sdate: sdate, edate: edate, pageindex: pageindex, pagesize: pagesize },
            success: function (d) {
                $("#ddd").empty();
                $(d.pageList).each(function () {
                    if (this.patientStateId == 0) {
                        a = "<input type='button' class='aaa' value='接诊' style='width:150px;height:50px;background-color:brown' onclick='Updzhang(" + this.patientId + ")' />";
                        b = "<input type='button' class='bbb' value='查看患者信息' style='width:150px;height:50px;background-color:brown' onclick='Huan(" + this.patientId + ")' />"; 
                    }
                    else {
                        a = "";
                        b = "<input type='button' class='bbb' value='查看患者信息' style='width:350px;height:50px;background-color:brown;margin-left:-180px' onclick='Huan(" + this.patientId + ")' />"; 
                    }

                    if (this.patientSex) {
                        img = "/Zzhimg/QQ图片20201218101515 (1).png";
                    } else {
                        img = "/Zzhimg/QQ图片20201218102555.png";
                    }
                    var str = "<div id='d1'><div>" +
                        "<div style='float:left;width:80px;height:110px'>" +
                        "<img src='" + img + "' style='width:80px; height: 80px; margin-top: 36px;margin-left:27px' />" +
                        "</div>" +
                        "<div style='float:left;margin-top:32px;width:270px;height:50px;margin-left:45px;'>" +
                        "<span style='font-size:20px;'>" + this.patientName + "</span>&nbsp;&nbsp;&nbsp;&nbsp;" +
                        "<span style='font-size:10px;color:orange'>" + this.memberTypeName + "</span>&nbsp;&nbsp;&nbsp;&nbsp;" +
                        "<span style='font-size:15px;'>" + (this.patientSex ? "男" : "女") + "</span>&nbsp;" +
                        "<span style='font-size:15px;'>" + this.patientAge + "</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;" +
                        "<span style='font-size: 20px;'>" + (this.patientStateId ? "已就诊" : "未就诊") + "</span>" +
                        "</div>" +
                        "<div style='margin-left:120px;margin-top:20px'>" + 
                        "<span style='font- size:15px; '>创建时间:" + this.aaa + "</span>" +
                        "</div>" +
                        "<div style='margin-left:120px;'>" +
                        "<span style='font-size:15px'>科室:</span>&nbsp;&nbsp;" +
                        "<span style='font- size:15px'>" + this.departmentName + "</span>&nbsp;&nbsp;&nbsp;&nbsp;" +
                        "<span style='font-size:15px'>医生:</span>&nbsp;&nbsp;" +
                        "<span style='font-size:15px'>" + this.caoZuoRenName + "</span>&nbsp;&nbsp;&nbsp;" +
                        "</div>" +

                        "<div style='margin-left:120px;'>" +
                        "<span style='font-size:15px;'>手机号码:</span>&nbsp;&nbsp;" +
                        "<span style='font-size:15px'>" + this.patientPhone + "</span>" +
                        "</div>" +
                        "</div>" +
                        "<div>" +
                        "<div style='float:left;width:50px;height:50px;margin-left:26px'>" +
                        ""+ a +" " +
                        "</div>" +
                        "<div style='float:left;width:50px;height:50px;margin-left:140px'>" +
                        "" + b + "" +
                        "</div>" +
                        "</div>" +
                        "</div>";
                    $("#ddd").append(str);

                })
                count = d.countnum;  //总条数
                pagecount = Math.ceil(count * 1.0 / pagesize); //总页数
                $("#sp").text(pageindex + "/" + pagecount);
            }
        })
    }
    function Huan(id) {
        location.href = "/Zzh_Patient/UpdPatient?pid=" + id;
    }


    function Updzhang(patientId) {
        location.href = "/HzxLogin/Jzhospital?Gid=" + patientId + "&ma=" + 3;
    }
</script>
