
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>lx</title>
</head>
<body>
    <div style="background-color:red;width:1000px;height:800px">
        <div style="height:247px;width:223px;background-color:aqua;margin-left:20px;float:left;margin-top:5px">
            <div style="width:180px;height:173px;margin-top:15px;margin-left:20px" align="center">
                <img src="~/images/bk-zhuce-1.png" style="width:179px; height: 173px; margin-top: -1px;"/>
            </div>
            <div style="height:23px;width:182px;margin-top:2px;background-color:red;margin-left:19px">
                <span>5646465646646</span>
            </div>
            <div style="height:23px;width:182px;margin-top:10px;background-color:aquamarine;margin-left:19px">
                <span>58.5元</span><span style="margin-left:20px">数量充足</span>
            </div>
        </div>
        <div style="height:247px;width:223px;background-color:aqua;margin-left:20px;float:left;margin-top:5px">
            <div style="width:180px;height:173px;margin-top:15px;margin-left:20px" align="center">
                <img src="~/images/bk-zhuce-1.png" style="width:179px; height: 173px; margin-top: -1px;" />
            </div>
            <div style="height:23px;width:182px;margin-top:2px;background-color:red;margin-left:19px">
                <span>5646465646646</span>
            </div>
            <div style="height:23px;width:182px;margin-top:10px;background-color:aquamarine;margin-left:19px">
                <span>58.5元</span><span style="margin-left:20px">数量充足</span>
            </div>
        </div>
        <div style="height:247px;width:223px;background-color:aqua;margin-left:20px;float:left;margin-top:5px">
            <div style="width:180px;height:173px;margin-top:15px;margin-left:20px" align="center">
                <img src="~/images/bk-zhuce-1.png" style="width:179px; height: 173px; margin-top: -1px;" />
            </div>
            <div style="height:23px;width:182px;margin-top:2px;background-color:red;margin-left:19px">
                <span>5646465646646</span>
            </div>
            <div style="height:23px;width:182px;margin-top:10px;background-color:aquamarine;margin-left:19px">
                <span>58.5元</span><span style="margin-left:20px">数量充足</span>
            </div>
        </div>
        <div style="height:247px;width:223px;background-color:aqua;margin-left:20px;float:left;margin-top:5px">
            <div style="width:180px;height:173px;margin-top:15px;margin-left:20px" align="center">
                <img src="~/images/bk-zhuce-1.png" style="width:179px; height: 173px; margin-top: -1px;" />
            </div>
            <div style="height:23px;width:182px;margin-top:2px;background-color:red;margin-left:19px">
                <span>5646465646646</span>
            </div>
            <div style="height:23px;width:182px;margin-top:10px;background-color:aquamarine;margin-left:19px">
                <span>58.5元</span><span style="margin-left:20px">数量充足</span>
            </div>
        </div>
        <div style="height:247px;width:223px;background-color:aqua;margin-left:20px;float:left;margin-top:5px">
            <div style="width:180px;height:173px;margin-top:15px;margin-left:20px" align="center">
                <img src="~/images/bk-zhuce-1.png" style="width:179px; height: 173px; margin-top: -1px;" />
            </div>
            <div style="height:23px;width:182px;margin-top:2px;background-color:red;margin-left:19px">
                <span>5646465646646</span>
            </div>
            <div style="height:23px;width:182px;margin-top:10px;background-color:aquamarine;margin-left:19px">
                <span>58.5元</span><span style="margin-left:20px">数量充足</span>
            </div>
        </div>
    </div>
  
</body>
</html>
<script>
    $().ready(function(){
        var Rname = sessionStorage.getItem("Rname");

        if (Rname == null) {
            alert("请登录");
            location.href = "/HzxLogin/Login";
        }


    });
</script>
