
@{
    ViewData["Title"] = "Showadministration";
    Layout = "~/Views/Home/_Layout.cshtml";
    <script src="~/layui-v2.4.5/layui/lay/modules/layer.js"></script>
}
<style>
    a:hover {
        text-decoration: underline;
    }

    div {
       /* overflow: hidden;*/
    }

    table tr td {
        width: 50px;
        height: 20px;
        color: black;
        font-size: 5px
    }

    .ppp {
        transition: all 0.4s;
    }

    .ppp:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
    }
</style>
<script src="~/lib/jquery/dist/jquery.js"></script>
<div style="width:1400px;height:910px;margin-left:150px">
    <div style="width:209px;float:left;margin-top:15px">
        <input type="text" id="txtName" placeholder="请输入药品名称/药品编号" class="layui-input" />
    </div>
    <div style="width:77px;float:left;margin-top:15px">
        <input type="button" value="查询" id="btnCX" class="layui-btn" />
    </div>
    <div style="width:144px;float:left;margin-top:15px">
        <input type="button" value="查询所有药品" id="btnCXSY" class="layui-btn" style="margin-left:20px" />
    </div>
    <div style="width:249px;float:right;margin-top:15px;margin-right:42px">
        <input type="button" value="新增药品" class="layui-btn" onclick="location.href='/ZHQ_administration/Addadministration'" />
    </div>
    <div style="width:1200px;height:130px;float:left">
        <table style="font-size:15px" class="layui-table">
            <tr style="height:28px">
                <td style="background-color:gainsboro"><span style="font-size:15px">品牌</span></td>
                <td id="pb" style="width:400px"><span style="margin-left:15px;font-size:15px"><a href="#">123456</a></span><span style="margin-left:15px;font-size:15px"><a href="#">123456</a></span><span style="margin-left:15px;font-size:15px"><a href="#">123456</a></span><span style="margin-left:15px;font-size:15px"><a href="#">123456</a></span><span style="margin-left:15px;font-size:15px"><a href="#">123456</a></span></td>
            </tr>
            <tr style="height:28px">
                <td style="background-color:gainsboro"><span style="font-size:15px">分类</span></td>
                <td id="fl"><span style="margin-left:15px;font-size:15px"><a href="#">123456</a></span><span style="margin-left:15px;font-size:15px"><a href="#">123456</a></span><span style="margin-left:15px;font-size:15px"><a href="#">123456</a></span><span style="margin-left:15px;font-size:15px"><a href="#">123456</a></span><span style="margin-left:15px;font-size:15px"><a href="#">123456</a></span><span style="margin-left:15px;font-size:15px"><a href="#">123456</a></span><span style="margin-left:15px;font-size:15px"><a href="#">123456</a></span></td>
            </tr>
            <tr style="height:28px">
                <td style="background-color:gainsboro"><span style="font-size:15px">剂型</span></td>
                <td id="jx"><span style="margin-left:15px;font-size:15px"><a href="#">123456</a></span><span style="margin-left:15px;font-size:15px"><a href="#">123456</a></span><span style="margin-left:15px;font-size:15px"><a href="#">123456</a></span><span style="margin-left:15px;font-size:15px"><a href="#">123456</a></span><span style="margin-left:15px;font-size:15px"><a href="#">123456</a></span></td>
            </tr>
        </table>
    </div>
    <div style="width:1245px;height:580px;float:left;margin-top:20px;margin-left:-8px" id="pj">
        @*<div style="height:247px;width:223px;margin-left:20px;float:left;margin-top:5px" >
                <div style="width:180px;height:173px;margin-top:15px;margin-left:20px" align="center">
                    <img src="~/images/bk-zhuce-1.png" style="width:179px; height: 173px; margin-top: -1px;" />
                </div>
                <div style="height:23px;width:183px;margin-top:2px;margin-left:19px">
                    <span>5646465646646</span>
                    <div style="height:23px;width:183px"><span>品牌:123456789</span></div>
                   
                </div>
                <div style="height:23px;width:182px;margin-top:10px;margin-left:19px">
                    <span style="color:red;font-size:21px">58.5元</span><span style="margin-left:20px">数量充足</span>
                </div>
            </div>*@
    </div>
    <div align="center" style="float:left;margin-left:31px">
        <button type="button" style="margin-left:auto" id="SY" class="layui-btn">首页</button>
        <button type="button" style="margin-left:auto" id="SXY" class="layui-btn">上一页</button>
        <button type="button" style="margin-left:auto" onclick="XXY()" class="layui-btn">下一页</button>
        <button type="button" style="margin-left:auto" id="WY" class="layui-btn">尾页</button>
        当前页/总页数:<span style="color:blue" id="sp"></span>

    </div>

</div>

<script>
    var pageindex = 1;
    var pagesize = 10;
    var count = 0;  //总条数
    var pagecount = 0;  //总页数
    var bid = 0;
    var wid = 0;
    $(function () {

        LoadTable();
    })

    $("#btnCX").click(function () {
        pageindex = 1;
        LoadTable();

    })

    $("#SXY").click(function () {
        if (pageindex == 1) {
            alert('已经是第一页');
            return;
        }
        pageindex = pageindex - 1;
        $("#sp").text(pageindex);
        LoadTable();
    })

    $("#SY").click(function () {
        pageindex = 1;
        $("#sp").text(pageindex);
        LoadTable();
    })
    $("#WY").click(function () {
        pageindex = pagecount;
        $("#sp").text(pageindex);
        LoadTable();
    })
    function XXY() {
        if (pageindex == pagecount) {
            alert('已经是最后一页');
            return;
        }
        pageindex = pageindex + 1;
        $("#sp").text(pageindex);
        LoadTable();
    }


    function LoadTable() {
        var js = sessionStorage.getItem("Rname");
        var num;
        var name = $("#txtName").val();
        var i = 1;
        $.ajax({
            url: "http://localhost:4965/api/ZHQ_administration/Getadministration",
            data: { name: name, pageindex: pageindex, pagesize: pagesize, bid: bid, wid: wid },
            type: "get",
            dataType: "json",
            success: function (d) {
                $("#pj").empty();
                $(d.pageList).each(function () {
                    if (js == "药品负责人" && this.drugJSKC <= 20) {
                        num = "<span style=color:red>数量较少</span>&nbsp;&nbsp;<span style=color:blue><a href='#'>申请提货</a></span>";
                    } else if (this.drugJSKC <= 20) {
                        num = "<span style=color:red>数量较少</span>&nbsp;&nbsp;";
                    } else {
                        num = "<span style=color:blue>数量充足</span>&nbsp;&nbsp;";
                    }
                    $("#pj").append("<div class='ppp' style='height:247px;width:223px;margin-left:20px;float:left;margin-top:13px'><div style='width:180px;height:173px;margin-top:15px;margin-left:20px' align='center'> <img src='" + this.imgUrl + "' style='width:179px; height: 173px; margin-top: -1px;'/></div><div style='height:23px;width:182px;margin-top:2px;margin-left:19px'><span><a href='#' id=" + this.drugId + " class='xq' > " + this.drugTYM + "</a ></span ></div ><div style='height: 6px; width: 183px;margin-left:17px'><span>品牌:" + this.brandName + "</span></div> <div style='height:23px;width:182px;margin-top:10px;margin-left:15px'><span style='color:red;font-size:21px'>" + this.drugLSJ + "元</span><span style='margin-left:20px'>" + num + "</span></div></div >");

                    });
                count = d.countnum;  //总条数
                pagecount = Math.ceil(count * 1.0 / pagesize); //总页数
                $("#sp").text(pageindex + "/" + pagecount);
                loadDrugFL();

            }
        })
    }

    $(document).on('click','.xq',function () {
        layer.open({
            type: 2,
            area: ['800px','800px'],
            shadeClose: true, //点击遮罩关闭
            content: '/ZHQ_administration/GetFirstDrug?id=' + this.id,
        });
    });

    function loadDrugFL() {
        $.ajax({
            url: "http://localhost:4965/api/ZHQ_administration/Getclassification",
            data: {},
            type: "get",
            dataType: "json",
            contextType: "application/x-www-form-urlencoded",
            success: function (d) {
                $("#fl").empty();
                $(d).each(function () {
                    var str = "<span style='margin-left: 15px; font - size: 15px'><a href='#' style='color:blue' onclick='gb(" + this.drugClassId + "," + 3 + ")'>" + this.drugClassName + "</a></span>";
                    $("#fl").append(str);
                })
                loadDrugJX();
            }
        })
    }


    function loadDrugJX() {
        $.ajax({
            url: "http://localhost:4965/api/ZHQ_administration/Getform",
            data: {},
            type: "get",
            dataType: "json",
            contextType: "application/x-www-form-urlencoded",
            success: function (d) {
                $("#jx").empty();
                $(d).each(function () {
                    var str = "<span style='margin-left: 15px; font - size: 15px'><a href='#' style='color:blue' onclick='gb(" + this.dosage_formId + "," + 2 + ")'>" + this.dosage_formName + "</a></span>";
                    $("#jx").append(str);
                })
                loadDrugPB();
            }
        })
    }
    function loadDrugPB() {
        $.ajax({
            url: "http://localhost:4965/api/ZHQ_administration/GetBrand",
            data: {},
            type: "get",
            dataType: "json",
            contextType: "application/x-www-form-urlencoded",
            success: function (d) {
                $("#pb").empty();
                $(d).each(function () {
                    var str = "<span style='margin-left:15px;font-size:15px;'><a href='#' style='color:blue' onclick='gb(" + this.brandId + "," + 1 + ")'>" + this.brandName + "</a></span>";
                    $("#pb").append(str);
                })
            }
        })
    }

    $("#btnCXSY").click(function () {
        pageindex = 1;
        gb(0, 0);
    })
    function gb(d1, d2) {
        bid = d2;
        wid = d1;
        pageindex = 1;
        LoadTable();
    }
</script>
