
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CaseAdd</title>

    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/layui-v2.4.5/layui/layui.js"></script>
    <link href="~/layui-v2.4.5/layui/css/modules/code.css" rel="stylesheet" />

</head>
<body>
    <input id="date1111" type="hidden" />
    <div align="center">
        <div>
            <h1>新增诊断信息</h1>
        </div>
        <div>
            <div>诊断信息</div>
            <div><textarea id="txt_name" style="width:400px;height:100px"></textarea></div>
        </div>
        <div>
            <input id="Button1" type="button" value="取消" />
            <input id="Button1" type="button" value="确定" onclick="Add()" />
        </div>
    </div>
</body>
</html>
<script>
    $().ready(function () {

        var Rname = sessionStorage.getItem("Rname");

        if (Rname == null) {
            alert("请登录");
            location.href = "/HzxLogin/Login";
        }


    });
    layui.use(['form', 'layedit', 'laydate'], function () {
        form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
        laydate.render({
            elem: '#date1111', //指定元素
            type: 'datetime', // 可选择：年、月、日、时、分、秒
            format: 'yyyy-MM-dd HH:mm:ss', //指定时间格式
            value: new Date(), // 指定值
        });
    });
    function Add() {
        var str = {

            CaseName: $("#txt_name").val(),
            CaseTable: $("#date1111").val(),
            Createperson:sessionStorage.getItem("Uid")
        }
        $.ajax({
            url: "http://localhost:4965/api/DLH_Case/CassAdd",
            type: "post",
            dataType: "json",
            data: str,
            success: function (d) {
                if (d > 0) {
                    alert("添加成功");
                }
                else {

                    alert("添加失败");
                }
            }
        })
    }
</script>