
@{
    ViewData["Title"] = "PrincShow";
    Layout = "~/Views/Home/_Layout.cshtml";
}
<link href="~/css/D_Case.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.js"></script>
<div id="divBig">
    <div id="div1">
        <div class="layui-input-block" style="width:300px;float:left;margin-top: 50px;">
            <input id="shuru" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="医嘱信息" class="layui-input">
        </div>
        <div class="layui-input-block" style="width:300px;float:left;margin-top: 50px;margin-left:0px">
            <button type="button" class="layui-btn layui-btn-normal" onclick="CX()" style="float:left">查询</button>
        </div>
    </div>
    <hr />
    <div id="div2">
        <table class="layui-table" lay-skin="line">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
                <tr style="background-color:#C2C5F6">
                    <th>序号</th>
                    <th>过往病例</th>
                    <th>创建时间</th>
                    <th>创建人</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="tbody_td">
            </tbody>
        </table>
    </div>
    <div id="div3">
        <div align="center" style="float:left;margin-left:640px">
            <input id="Button1" type="button" value="首页" class="layui-btn" onclick="Showy()" />
            <input id="Button1" type="button" value="上一页" class="layui-btn" onclick="pore()" />
            <input id="Button1" type="button" value="下一页" class="layui-btn" onclick="Next()" />
            <input id="Button1" type="button" value="尾页" class="layui-btn" onclick="wei()" />
            当前页/总页数:<span style="color:blue" id="sp"></span>
        </div>
    </div>
</div>


<script>


    var pageindex = 1;
    var pagesize = 10;
    var pageCount = 0;
    function Showy() {

        pageindex = 1;
        $("#sp").text(pageindex);
        Show();


    }
    function pore() {
        if (pageindex == 1) {
            alert("已经到首页了");
            return;
        }
        pageindex--;
        $("#sp").text(pageindex);
        Show();


    }
    function Next() {
        if (pageindex == pageCount) {
            alert("已经到尾页了");
            return;
        }
        pageindex++;
        $("#sp").text(pageindex);
        Show();

    }
    function wei() {
        pageindex = pageCount;
        $("#sp").text(pageindex);
        Show();

    }

    var form;


    $().ready(function () {
        Show();
    });



    function Show() {
        var i = 1;
        $.ajax({
            url: "http://localhost:4965/api/DLH_Princ/GetDate",
            type: "get",
            dataType: "json",
            data: { pageIndex: pageindex, pageSize: pagesize },
            success: function (date) {
                console.log(date);
                $("#tbody_td").empty();
                $(date.list).each(function () {
                    var str = "<tr>" +
                        "<td>" + i + "</td>" +
                        "<td>" + this.pastName + "</td>" +
                        "<td>" + this.pastTable + "</td>" +
                        "<td>" + this.uname + "</td>" +
                        "<td><a style='color:blue' onclick='DelCase(" + this.pastId + ")'>删除</a></td>" +
                        "</tr>";
                    $("#tbody_td").append(str);
                    i++;
                });
                pageCount = Math.ceil(date.count * 1.0 / pagesize);
                $("#sp").text(pageindex + "/" + pageCount);
            }

        });
    }
    function DelCase(id) {
        if (confirm("确认删除吗?")) {
            $.ajax({
                url: "http://localhost:4965/api/DLH_Princ/DeletePrinc?cid=" + id,
                type: "post",
                dataType: "json",
                success: function (d) {
                    if (d > 0) {
                        alert("删除成功");
                        Show();
                    } else {
                        alert("删除失败");
                    }
                }
            });
        }
    }



</script>


