div .ddd {
    margin: 0px;
    padding: 0px;
    width: 1500px;
    height: 890px;
    margin-left: 98px;
    margin-top: 20px;
}

div #div1 {
    margin: 0px;
    padding: 0px;
    width: 1500px;
    height: 60px;
}

div #div2 {
    margin: 0px;
    padding: 0px;
    width: 1500px;
    height: 256px;
}

div #div3 {
    margin: 0px;
    padding: 0px;
    width: 1500px;
    height: 256px;
}

div #div4 {
    margin: 0px;
    padding: 0px;
    width: 1500px;
    height: 256px;
}

div #div5 {
    margin: 0px;
    padding: 0px;
    width: 1500px;
    height: 60px;
    margin-top: 20px;
}

div #d1 {
    margin: 0px;
    padding: 0px;
    width: 400px;
    height: 245px;
    float: left;
    margin-left: 60px;
    padding-left: 20px;
    margin-top: 7px;
}

div #d2 {
    margin: 0px;
    padding: 0px;
    width: 400px;
    height: 245px;
    float: left;
    margin-left: 60px;
    padding-left: 20px;
    margin-top: 7px;
}

div #d3 {
    margin: 0px;
    padding: 0px;
    width: 400px;
    height: 245px;
    float: left;
    margin-left: 60px;
    padding-left: 20px;
    margin-top:7px;
}
