<!DOCTYPE html>

@{ 

    var Qma = ViewBag.Qma;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/layui-v2.4.5/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
    <link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui-v2.4.5/layui/layui.js"></script>
</head>
<body>
    <ul class="layui-nav layui-bg-cyan" lay-filter="" style="background-color:aqua">
        <li class="layui-nav-item"> <span id="sp1" style="color:black;font-weight:300"></span></li>
        <li class="layui-nav-item">
            <a href="javascript:;">个人中心</a>
            <dl class="layui-nav-child">
                <dd><a onclick="location.href = '/HzxLogin/UpdPass';">修改密码</a></dd>
                <dd><a onclick="Tui()">退出登录</a></dd>
                <dd><a onclick="location.href = '/HzxLogin/Showjilu';">查看操作记录</a></dd>
            </dl>
        </li>
        <li class="layui-nav-item"><a href="">社区</a></li>
        <li class="layui-nav-item"><a href="#" id="wl">闲的无聊?看会生活小常识?</a></li>
    </ul>
    <div style="float:left;margin-top:0px">

        <div @*style="float:left;background-color:black;height:910px;width:210px;overflow:scroll;"*@ style="float:left">

            <ul class="layui-nav layui-nav-tree layui-bg-cyan" lay-filter="test" style="overflow: scroll;height:910px;width:210px;">

                <li class="layui-nav-item"><a href="">门诊管理</a></li>
                <li class="layui-nav-item"><a href="javascript:location.href='/ZHQ_First/Index';">首页</a></li>
                <li class="layui-nav-item"><a href="javascript:location.href='/ZZH_Cmd/Index';">工作台</a></li>
                <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">新开就诊</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/HzxLogin/Jzhospital';">接诊</a></dd>
                        <dd><a href="javascript:;">收费</a></dd>
                        <dd><a href="javascript:location.href='/HzxLogin/ShowBinli';">所有病历</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">挂号</a>
                    <dl class="layui-nav-child">

                        <dd><a href="javascript:location.href='/HzxLogin/Showgua';">挂号记录</a></dd>
                        <dd><a href="javascript:location.href='/HzxLogin/Addguahao';">新增挂号信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:">患者管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/Zzh_Patient/GetPatient';">患者信息</a></dd>
                        <dd><a href="javascript:location.href='/Zzh_Patient/AddPatient';">新增患者信息</a></dd>
                        <dd><a href="javascript:location.href='/Zzh_Patient/UpdPatient';">编辑患者信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">药品管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/ZHQ_administration/Showadministration';">药品信息维护</a></dd>
                        <dd><a href="javascript:location.href='/ZHQ_administration/Addadministration';">新增药品</a></dd>
                    </dl>
                </li>
           
                <li class="layui-nav-item">
                    <a href="javascript:;">库存管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/ZHQ_RK/ShowKC'">查看库存明细</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">审批入库</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/ZHQ_RK/RKSQJC'">审批入库</a></dd>
                        <dd><a href="javascript:location.href='/ZHQ_RK/RK'">入库</a></dd>
                        <dd><a href="javascript:location.href='/ZHQ_RK/RKNO'">入库拒绝信息</a></dd>
                        <dd><a href="javascript:location.href='/ZHQ_RK/RKYES'">入库通过信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">审批出库</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/ZHQ_CK/CKSQJC'">审批出库</a></dd>
                        <dd><a href="javascript:location.href='/ZHQ_CK/CK'">出库</a></dd>
                        <dd><a href="javascript:location.href='/ZHQ_CK/CKJU'">出库拒绝信息</a></dd>
                        <dd><a href="javascript:location.href='/ZHQ_CK/CKTG'">出库通过信息</a></dd>
                    </dl>
                </li>
         
                <li class="layui-nav-item">
                    <a href="javascript:;">药品调价</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/ZHQ_administration/AddPricing'">新增调价</a></dd>
                        <dd><a href="javascript:location.href='/ZHQ_administration/TJMingXi'">查看调价详细</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">会员管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/JcyVIP/Index'">会员列表</a></dd>
                        <dd><a href="javascript:location.href='/JcyVIP/SValuemage'">储值管理</a></dd>
                        <dd><a href="javascript:location.href='/JcyVIP/Pointmanage'">积分管理</a></dd>
                        <dd><a href="javascript:location.href='/JcyVIP/MemberSet'">会员设置</a></dd>
                        <dd><a href="javascript:location.href='/JcyGYS/Index'">供应商管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:location.href='/Charge/Show';">收费统计</a>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">病历信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/DLH_Case/CaseShow'">诊断信息</a></dd>
                        <dd><a href="javascript:location.href='/DLH_Advice/AdviceShow'">医嘱信息</a></dd>
                        <dd><a href="javascript:location.href='/DLH_Princ/PrincShow'">过往病例信息</a></dd>
                    </dl>
                </li>
          
                <li class="layui-nav-item">
                    <a href="javascript:;">员工管理集合</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/HzxLogin/Index';">员工管理</a></dd>
                        <dd><a href="javascript:location.href='/HzxLogin/Zhu';">新增员工信息</a></dd>

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">科室管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/HzxLogin/keshi';">科室信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:">角色管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/HzxLogin/Addroleinfo';">所有角色信息</a></dd>

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">费用设置</a> 
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/DLH_Fee/Show';">新增附加费用</a></dd>
                        <dd><a href="javascript:location.href='/DLH_Fee/Show';">诊疗费用</a></dd>
                        <dd><a href="javascript:location.href='/DLH_Fee/Show';">挂号费用</a></dd>
                 
                    </dl>
                </li>
     
            </ul>
        </div>
        <div style="float:left" id="tbb">
            @RenderBody()
        </div>
    </div>

</body>
</html>
<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;


    });
    $().ready(function () {
    
        var Rname = sessionStorage.getItem("Rname");
        if (Rname==null)
        {
            $("#tbb").remove();

            location.href = "/HzxLogin/Login";
         
        }
        var Uid = sessionStorage.getItem("Uid");
        var Qma = sessionStorage.getItem("Qma");
        var Uname = sessionStorage.getItem("Uname");
        $("#sp1").text(Uname + "" + Rname);
    });
    $("#wl").click(function () {
        layer.open({
            type: 2,
            title: false,
            area: ['860px', '450px'],
            shade: 0.8,
            closeBtn: 0,
            shadeClose: true,
            content: '//www.bilibili.com/video/av56945246/'
        });
    })

    function Tui()
    {
        if (confirm("确认退出登录?"))
        {
            location.href = "/HzxLogin/Login";
        }

    }
</script>