<!DOCTYPE html>

@{ 

    var Qma = ViewBag.Qma;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/layui-v2.4.5/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
    <link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui-v2.4.5/layui/layui.js"></script>
</head>
<body>
    <ul class="layui-nav layui-bg-cyan" lay-filter="" style="background-color:aqua">
        <li class="layui-nav-item"> <span id="sp1" style="color:black;font-weight:300"></span></li>
        <li class="layui-nav-item">
            <a href="javascript:;">个人中心</a>
            <dl class="layui-nav-child">
                <dd><a onclick="location.href = '/HzxLogin/UpdPass';">修改密码</a></dd>

            </dl>
        </li>
        <li class="layui-nav-item"><a href="">社区</a></li>
        <li class="layui-nav-item"><a href="#" id="wl">闲的无聊?看会生活小常识?</a></li>
    </ul>
    <div style="float:left;margin-top:0px">
     
        <div @*style="float:left;background-color:black;height:910px;width:210px;overflow:scroll;"*@ style="float:left">

            <ul class="layui-nav layui-nav-tree layui-bg-cyan" lay-filter="test" style="overflow: scroll;height:910px;width:210px;">

                <li class="layui-nav-item"><a href="">门诊管理</a></li>
                <li class="layui-nav-item"><a onclick="location.href='/ZHQ_First/Index'" href="javascript:;">首页</a></li>
                <!-- 侧边导航: <ul class="layui-nav layui-nav-tree layui-nav-side"> -->
                <li class="layui-nav-item layui-nav-itemed">
                    <a href="javascript:;">新开就诊</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;">收费</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">挂号</a>
                    <dl class="layui-nav-child">

                        <dd><a href="javascript:location.href='/HzxLogin/Showgua';">挂号记录</a></dd>
                        <dd><a href="javascript:location.href='/HzxLogin/Addguahao';">新增挂号信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">药品零售</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">收费</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">收费管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">订单详情_已收费</a></dd>
                        <dd><a href="">订单详情_已退费</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:">患者管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/Zzh_Patient/GetPatient';">患者信息</a></dd>
                        <dd><a href="javascript:location.href='/Zzh_Patient/AddPatient';">新增患者信息</a></dd>
                        <dd><a href="javascript:location.href='/Zzh_Patient/UpdPatient';">编辑患者信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">药品管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/ZHQ_administration/Showadministration';">药品信息维护</a></dd>
                        <dd><a href="javascript:location.href='/ZHQ_administration/Addadministration';">新增药品</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">药品入库管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">新增入库信息</a></dd>
                        <dd><a href="">编辑入库信息</a></dd>
                        <dd><a href="">入库详细_审核通过</a></dd>
                        <dd><a href="">入库详细_审核未通过</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">药品出库管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">新增出库信息</a></dd>
                        <dd><a href="">编辑出库信息</a></dd>
                        <dd><a href="">出库详细_审核通过</a></dd>
                        <dd><a href="">出库详细_审核未通过</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">库存管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/ZHQ_RK/ShowKC'">查看库存明细</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">审批入库</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/ZHQ_RK/RKSQJC'">审批</a></dd>
                        <dd><a href="javascript:location.href='/ZHQ_RK/RK'">入库</a></dd>
                        <dd><a href="javascript:location.href='/ZHQ_RK/RKNO'">入库拒绝信息</a></dd>
                        <dd><a href="javascript:location.href='/ZHQ_RK/RKYES'">入库通过信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">库存盘点</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">新增盘点</a></dd>
                        <dd><a href="">查看盘点详细</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">药品调价</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/ZHQ_administration/AddPricing'">新增调价</a></dd>
                        <dd><a href="javascript:location.href='/ZHQ_administration/TJMingXi'">查看调价详细</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">会员管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/JcyVIP/Index'">会员列表</a></dd>
                        <dd><a href="javascript:location.href='/JcyVIP/SValuemage'">储值管理</a></dd>
                        <dd><a href="javascript:location.href='/JcyVIP/Pointmanage'">积分管理</a></dd>
                        <dd><a href="javascript:location.href='/JcyVIP/MemberSet'">会员设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">药品报表统计</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">入库统计</a></dd>
                        <dd><a href="">出库统计</a></dd>
                        <dd><a href="">调价统计</a></dd>
                        <dd><a href="">药品销售明细</a></dd>
                        <dd><a href="">零售销售明细</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">检查项目计划</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">检查项目统计</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">收费统计</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">收支明细</a></dd>
                        <dd><a href="">收费员收费统计</a></dd>
                        <dd><a href="">科室收费统计</a></dd>
                        <dd><a href="">医生业绩统计</a></dd>
                        <dd><a href="">储值明细</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">患者统计</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">门诊日记</a></dd>
                        <dd><a href="">患者年龄分析</a></dd>
                        <dd><a href="">患者性别分析</a></dd>
                        <dd><a href="">患者婚姻情况分析</a></dd>
                        <dd><a href="">会员类型分析</a></dd>
                        <dd><a href="">就诊分析</a></dd>
                        <dd><a href="">患者来源分析</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">病历信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/DLH_Case/CaseShow'">诊断信息</a></dd>
                        <dd><a href="javascript:location.href='/DLH_Advice/AdviceShow'">医嘱信息</a></dd>
                        <dd><a href="javascript:location.href='/DLH_Princ/PrincShow'">过往病例信息</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">药品信息</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">药品分类</a></dd>
                        <dd><a href="">药品用法</a></dd>
                        <dd><a href="">药品剂型</a></dd>
                        <dd><a href="">发票项目</a></dd>
                        <dd><a href="">生产厂家</a></dd>
                        <dd><a href="">入库类型</a></dd>
                        <dd><a href="">出库类型</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">患者来源</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/Zzh_Patient/GetPatientSource'">患者来源</a></dd>
                        <dd><a href="javascript:location.href='/Zzh_Patient/GetEducation'">患者学历</a></dd>
                        <dd><a href="javascript:location.href='/Zzh_Patient/GetPosition'">患者职业</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">员工管理集合</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/HzxLogin/Index';">员工管理</a></dd>
                        <dd><a href="javascript:location.href='/HzxLogin/Zhu';">新增员工信息</a></dd>

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">科室管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/HzxLogin/keshi';">科室信息</a></dd>

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:">角色管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/HzxLogin/Addroleinfo';">所有角色信息</a></dd>

                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">费用设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:location.href='/DLH_Fee/Show';">新增附加费用</a></dd>
                        <dd><a href="javascript:location.href='/DLH_Fee/Show';">诊疗费用</a></dd>
                        <dd><a href="javascript:location.href='/DLH_Fee/Show';">挂号费用</a></dd>
                        <dd><a href="">支付方式</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item">
                    <a href="javascript:;">支付方式设置</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">设置支付方式</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
        <div style="float:left">
            @RenderBody()
        </div>
    </div>

</body>
</html>
<script>
    //注意：导航 依赖 element 模块，否则无法进行功能性操作
    layui.use('element', function () {
        var element = layui.element;


    });
    $().ready(function () {
        var Uname = sessionStorage.getItem("Uname");
        var Rname = sessionStorage.getItem("Rname");
        var Uid = sessionStorage.getItem("Uid");
        var Qma = sessionStorage.getItem("Qma");
      
        $("#sp1").text(Uname + "" + Rname);
    });
    $("#wl").click(function () {
        layer.open({
            type: 2,
            title: false,
            area: ['860px', '450px'],
            shade: 0.8,
            closeBtn: 0,
            shadeClose: true,
            content: '//www.bilibili.com/video/av56945246/'
        });
    })
    
</script>