
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui-v2.4.5/layui/layui.js"></script>
<script>
    function Adds() {
        var htmls = {};
        htmls.supGIS = $("#SupGIS").val();
        htmls.supName = $("#SupName").val();
        htmls.supState = $("[name=SupState]:checked").val();
        htmls.linkMan = $("#LinkMan").val();
        htmls.linkPhone = $("#LinkPhone").val();
        htmls.remark = $("#Remark").val();
        htmls.cMan = "晋超宇";
        $.ajax({
            url: "http://localhost:4965/api/JcyVIP/Add",
            dataType: "json",
            data: htmls,
            type: "post",
            success: function (d) {
                if (d > 0) {
                    console.log(htmls);
                    alert('添加成功');
                    location.reload();
                } else {
                    alert('添加失败');
                }
            }
        })
    }
</script>
<div style="width:1150px;height:465px;margin-left:400px;margin-top:50px; background-color:aliceblue">
    <div style="margin-left:15px;">
        <div style="width:1120px;height:70px;">
            <div style="float:left"><h3 style="font-weight:900"><span>|</span> 新增供应商</h3></div>
            <div style="float:right">
                <input type="button" value="保存" class="layui-btn" onclick="Adds()" />&nbsp;
                <input type="button" value="返回" class="layui-btn" onclick="location.href='/JctGSI/Index'"/>
            </div>
        </div>
        <div style="height:25px;">
            <div style="float:left">供应商编号</div>
            <div style="float:left;margin-left:220px;">供应商名称<span style="color:red">*</span></div>
        </div>
        <div style="height:70px;">
            <div style="float:left">
                <input type="text" id="SupGIS" value="" style="width:245px;height:40px;" />
            </div>
            <div style="margin-left:35px;float:left">
                <input type="text" id="SupName" value="" style="width:245px;height:40px;" />
            </div>
            <div style="margin-left:35px;float:left">
                供应商状态: <input type="radio" name="SupState" value="1" />启用&emsp;<input type="radio" name="SupState" value="0" />禁用
            </div>
        </div>
        <div style="height:25px;">
            <div>
                <div style="float:left">联系人</div>
                <div style="margin-left:250px;float:left">联系电话</div>
            </div>
        </div>
        <div style="height:70px;">
            <div style="float:left">
                <input type="text" id="LinkMan" value="" style="width:245px;height:40px;" />
            </div>
            <div style="margin-left:35px;float:left">
                <input type="text" id="LinkPhone" value="" style="width:245px;height:40px;" />
            </div>
        </div>
        <div>
            <div>备注</div>
            <div>
                <textarea style="width:530px;height:40px" id="Remark"></textarea>
            </div>
        </div>
    </div>
</div>

