
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
<script src="~/layui-v2.4.5/layui/layui.js"></script>
<script>
    $(function () {
        ShowIndex();
    })
    var pageindex = 1;
    var pagesize = 5;
    var pageCount = 0;
    function Showy() {
        pageindex = 1;
        $("#sp").text(pageindex);
        ShowIndex();
    }
    function pore() {
        if (pageindex == 1) {
            alert("已经到首页了");
            return;
        }
        pageindex--;
        $("#sp").text(pageindex);
        ShowIndex();
    }
    function Next() {
        if (pageindex == pageCount) {
            alert("已经到尾页了");
            return;
        }
        pageindex++;
        $("#sp").text(pageindex);
        ShowIndex();

    }
    function wei() {
        pageindex = pageCount;
        $("#sp").text(pageindex);
        ShowIndex();

    }
    function ShowIndex() {
        var i = 1;
        $.ajax({
            url: "http://localhost:4965/api/JcyVIP/GetSupplierInfos",
            dataType: "json",
            type: "get",
            data: { name: $("#name").val() },
            success: function (data) {
                $("#list").empty();
                $(data.list).each(function () {
                    var htmls = "<tr>" +
                        "<td>" + i++ + "</td>" +
                        "<td>" + this.supGIS+"</td>" +
                        "<td>" + this.supName + "</td>" +
                        "<td>" + this.linkMan + "</td>" +
                        "<td>" + this.linkPhone+"</td>" +
                        "<td>" + this.cTimes+"</td>" +
                        "<td>" + this.cMan + "</td>" +
                        "<td>" + (this.supState == 1 ? "启用" : "禁用") + "</td>" +
                        "<td><a href='#' onclick='Upd(" + this.id + ")' style='color: darkslateblue;'>编辑</a>&nbsp;<a href='#' onclick='Del(" + this.id + ")' style='color: darkslateblue;'>删除</a></td></tr>";
                    $("#list").append(htmls);
                })
                pageCount = Math.ceil(data.count * 1.0 / pagesize);
                $("#sp").text(pageindex);
                $("#counts").text(pageCount);
            }
        })
    }
    function Upd(id) {
        location.href = '/JcyGYS/FindbyId?id=' + id;
    }
    function Del(id) {
        $.ajax({
            url: "http://localhost:4965/api/JcyVIP/Del",
            dataType: "json",
            type: "post",
            data: { id: id },
            success: function (d) {
                if (d > 0) {
                    alert('删除成功');
                    location.reload();
                } else {
                    alert('删除失败');
                    location.reload();
                }
            }
        })
    }
</script>
<div style="width:950px;height:450px;margin-left:400px;margin-top:50px;">
    <div style="float:right;">
        <input type="button" name="name" value="新增" onclick="location.href='/JcyGYS/Add'" class="layui-btn" style="background-color:mediumslateblue" />
    </div>
    <hr />
    <div>
        <div style="width:600px;height:30px;">
            <input type="text" id="name" value="" style="width:200px;height:30px;float:left" class="layui-input" />

            <button type="button" class="layui-btn" style="background-color:mediumslateblue;float:left;height:30px;width:50px;">
                <i class="layui-icon">&#xe615;</i>
            </button>
        </div>
    </div>
    <div></div>
    <div>
        <table class="layui-table">
            <thead>
                <tr style="background-color: lavender;">
                    <th>序号</th>
                    <th>供应商编号</th>
                    <th>供应商名称</th>
                    <th>联系人</th>
                    <th>联系电话</th>
                    <th>创建时间</th>
                    <th>创建人员</th>
                    <th>供应商状态</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="list">

            </tbody>
        </table>
    </div>
    <div style="text-align:center">
        <input id="Button1" type="button" value="首页" class="layui-btn" onclick="Showy()" />
        <input id="Button1" type="button" value="上一页" class="layui-btn" onclick="pore()" />
        <input id="Button1" type="button" value="下一页" class="layui-btn" onclick="Next()" />
        <input id="Button1" type="button" value="尾页" class="layui-btn" onclick="wei()" />
        当前页:<span style="color:blue" id="sp"></span>
        总页数:<span style="color:red" id="counts"></span>
    </div>
</div>

