
@{
    ViewData["Title"] = "Show";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<body>
    <div class="layui-tab">
        <ul class="layui-tab-title">
            <li class="layui-this">附加费用设置</li>
            <li>诊疗费设置</li>
            <li>挂号费设置</li>
            <li>支付方式</li>
        </ul>
        <div class="layui-tab-content">
            <div class="layui-tab-item layui-show">
                <div>
                    <form class="layui-form">
                        <div class="layui-form-item">
                            <label class="layui-form-label">处方类别</label>
                            <div style="width:300px;float:left;margin-left:-110px">
                                <div class="layui-input-block">
                                    <select name="interest" lay-filter="aihao" id="LeiBie">
                                        <option></option>
                                    </select>
                                </div>
                            </div>
                            <div class="layui-input-block" style="width:300px;float:left">
                                <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="附加费查询" class="layui-input">
                                
                            </div>
                            <div class="layui-input-block" style="width:300px;float:right">
                                <input type="button" class="layui-btn" value="新增附加费用" onclick="FJAdd()" style="background-color:#C2C5F6;font-weight:bold;color:black" />
                            </div>
                        </div>
                    </form>
                </div>
                <div>
                    <table class="layui-table">
                        <colgroup>
                            <col width="150">
                            <col width="200">
                            <col>
                        </colgroup>
                        <thead>
                            <tr style="background-color:#C2C5F6">
                                <th style="font-weight:bold">序号</th>
                                <th style="font-weight:bold">附加费用名称</th>
                                <th style="font-weight:bold">处方类型</th>
                                <th style="font-weight:bold">金额</th>
                                <th style="font-weight:bold">成本价</th>
                                <th style="font-weight:bold">创建时间</th>
                                <th style="font-weight:bold">创建人员</th>
                                <th style="font-weight:bold">允许会员折扣</th>
                                <th style="font-weight:bold">费用状态</th>
                                <th style="font-weight:bold">操作</th>
                            </tr>
                        </thead>
                        <tbody id="tbody_id">
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="layui-tab-item">内容2</div>
            <div class="layui-tab-item">内容3</div>
            <div class="layui-tab-item">内容4</div>
            <div class="layui-tab-item">内容5</div>
        </div>
    </div>

</body>

<style>
    th{
        color:black;
        font-weight:bold;
    }
</style>

<script>
    var form;
    $(function () {
     
        ShowPrescriptionInfos();
        Showfujiafeiyong();
    });


    layui.use(['form', 'layedit', 'laydate'], function () {
        form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;
    });

    function ShowPrescriptionInfos() {
        $.ajax({
            url: "http://localhost:4965/api/DLH_Fee/GetPrescriptionInfos",
            type: "get",
            async: false,
            dataType: "json",
            success: function (d) {
                console.log(d);
                $(d).each(function () {
                    var html = "<option value='" + this.recipeId + "'>" + this.recipeName + "</option>";
                    console.log(html);
                    $("#LeiBie").append(html);

                });
                form.render('select');
            },
        })
    }
    function Showfujiafeiyong() {
        var i = 1;
        $.ajax({
            url: "http://localhost:4965/api/DLH_Fee/GetCostsInfos",
            type: "get",
            async: false,
            dataType: "json",
            success: function (d) {
                $("#tbody_id").empty();
                $(d).each(function () {
                    var str = "<tr>" +
                        "<td>" + i + "</td>" +
                        "<td>" + this.additional + "</td>" +
                        "<td>" + this.recipeName + "</td>" +
                        "<td>" + this.moneyInfn + "</td>" +
                        "<td>" + this.cost + "</td>" +
                        "<td>" + this.time + "</td>" +
                        "<td>" + this.uname + "</td>" +
                        "<td>" + (this.vip ? "是" : "否") + "</td>" +
                        "<td>" + (this.cState ? "启用" : "未启用") + "</td>" +
                        "<td><a onclick='Update(" + this.sequenceId + ")'style='color:blue'>编辑</a>&nbsp&nbsp<a style='color:blue' onclick='Del(" + this.sequenceId + ")'>删除</a></td></tr>";
                    $("#tbody_id").append(str);
                    i++;
                })
            }
        })
    }


    function Del(id) {
        if (confirm("确认删除吗?")) {
            $.ajax({
                url: "http://localhost:4965/api/DLH_Fee/DelCost?cid=" + id,
                type: "post",
                dataType: "json",
                success: function (d) {
                    if (d > 0) {
                        alert("删除成功");
                        Showfujiafeiyong();
                    } else {
                        alert("删除失败");
                    }
                }
            });
        }
    }

    function Update(id) {
        location.href = ""
    }
    function FJAdd() {
        location.href = "/DLH_Fee/FJAdd";
    }

</script>




