
@{
    ViewData["Title"] = "GetCharge";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<div style="float:left">
    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12">
        <div class="layui-form-item" style="width:300px">
            <label class="layui-form-label">开始时间：</label>
            <div class="layui-input-block">
                <input type="text" id="sTime" name="sTime" model="datetime"
                       format="yyyy-MM-dd" placeholder="yyyy-MM-dd" autocomplete="off"
                       class="layui-input test-item" />
            </div>
        </div>
    </div>
</div>
<div style="float:left">
    <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12">
        <div class="layui-form-item" style="width:300px">
            <label class="layui-form-label">结束时间：</label>
            <div class="layui-input-block">
                <input type="text" id="eTime" name="eTime" model="datetime"
                       format="yyyy-MM-dd" placeholder="yyyy-MM-dd" autocomplete="off"
                       class="layui-input test-item" />
            </div>
        </div>
    </div>
</div>
