
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/layui-v2.4.5/layui/lay/modules/layer.js"></script>
<script>
    var pageIndex = 1;
    var pageSize = 10;
    var pageCount = 10;
    $(function () {
        Selx();
        text1();
        text2();
        text3();
        text4();
        text5();
    })
    function text1() {
        $('.test2').on('click', function () {
            layer.open({
                type: 2,
                title: false,
                closeBtn: 1, //不显示关闭按钮
                shade: [0],
                area: ['400', '300px'],
                anim: 2,
                content: ['/JcyVIP/VIPCZ?id=' + this.id, 'no'], //iframe的url，no代表不显示滚动条
            });

            console.log(this.id);
        });
    }
    function text2() {
        $('.test3').on('click', function () {
            layer.open({
                type: 2,
                title: false,
                closeBtn: 1, //不显示关闭按钮
                shade: [0],
                area: ['550px', '450px'],
                anim: 2,
                content: ['/JcyVIP/VIPDJ?id=' + this.id, 'no'], //iframe的url，no代表不显示滚动条
            });
        });
    }
    function text3() {
        $('.test4').on('click', function () {
            layer.open({
                type: 2,
                title: false,
                closeBtn: 1, //不显示关闭按钮
                shade: [0],
                area: ['400px', '400px'],
                anim: 2,
                content: ['/JcyVIP/VIPBD?id=' + this.id, 'no'], //iframe的url，no代表不显示滚动条
            });
        });
    }
    function text4() {
        $('.test5').on('click', function () {
            layer.open({
                type: 2,
                title: false,
                closeBtn: 1, //不显示关闭按钮
                shade: [0],
                area: ['400px', '400px'],
                anim: 2,
                content: ['/JcyVIP/VIPTK?id=' + this.id, 'no'], //iframe的url，no代表不显示滚动条
            });
        });
    }
    function text5() {
        $('.test6').on('click', function () {
            layer.open({
                type: 2,
                title: false,
                closeBtn: 1, //不显示关闭按钮
                shade: [0],
                area: ['400', '300px'],
                anim: 2,
                content: ['/JcyVIP/SetVIP?id=' + this.id, 'no'], //iframe的url，no代表不显示滚动条
            });
        });
    }
    function test7(id) {
        location.href = '/Zzh_Patient/UpdPatient?pid=' + id;
    }
    function Selx() {
        $.ajax({
            url: "http://localhost:4965/api/JcyVIP/GetVIPgrades",
            dataType: "json",
            type: "get",
            async: false,
            success: function (data) {
                $("#dj").empty();
                $("#dj").append("<option value=0>==请选择==</option>");
                $(data).each(function () {
                    $("#dj").append("<option value=" + this.vGradeId + ">" + this.vGradeName + "</option>");
                })
            },
            complete: function () {
                ShowInfo();
            }
        })
    }
    function ShowInfo() {
        var stime = $("#stime").val();
        var etime = $("#stime").val();
        var id = $("#dj").val();
        var name = $("#name").val();
        var phone = $("#name").val();
        var Card = $("#IdCard").val();
        $.ajax({
            url: "http://localhost:4965/api/JcyVIP/GetVIPInfos",
            dataType: "json",
            type: "get",
            data: { stime: stime, etime: etime, id: id, name: name, phone, phone, Card: Card },
            async: false,
            success: function (data) {
                console.log(data);
                $("#list").empty();
                $(data).each(function () {
                    var htmls = "<tr>" +
                        "<td>" + this.id + "</td>" +
                        "<td>" + this.idCard + "</td>" +
                        "<td>" + this.vTypeName + "</td>" +
                        "<td style='color:#ffd800;font-weight:bold'>" + this.vGradeName + "</td>" +
                        "<td><a href='#' onclick='test7(" + this.patientId + ")' style='color:darkslateblue'>" + this.patientName + "</a></td>" +
                        "<td>" + this.phone + "</td>" +
                        "<td>" + this.amassPrice + "</td>" +
                        "<td>" + this.svalueMoney + "</td>" +
                        "<td>" + this.amassSvalue + "</td>" +
                        "<td>" + this.integral + "</td>" +
                        "<td>" + this.startTime + "</td>" +
                        "<td>" + this.endTime + "</td>" +
                        "<td>" + this.vIPState + "</td>" +
                        "<td><a href='#' class='test2' id='" + this.id + "' style='color:darkslateblue;font-weight:bold'>充值</a>&nbsp;<a href='#' id='" + this.id + "' class='test3' style='color:darkslateblue;font-weight:bold'>设置会员等级</a>&nbsp;<a href='#' class='test4' id='" + this.id + "' style='color:darkslateblue;font-weight:bold'>积分变动</a>&nbsp;<a href='#' class='test5' id='" + this.id + "' style='color:darkslateblue;font-weight:bold'>退款</a>&nbsp;<a href='#' id='" + this.id + "' class='test6' style='color:darkslateblue;font-weight:bold'>等级变更记录</a></td></tr>";
                    $("#list").append(htmls);
                    pageCount = Math.ceil(pageIndex * 1.0 / pageSize);
                })
            }
        })
    }
    function one() {
        ShowInfo();
    }
</script>
<script>
    function First() {
        if (pageIndex == 1) {
            alert('已经是第一页了')
            return;
        }
        pageIndex = 1;
    }
    function Prev() {
        if (pageIndex == 1) {
            alert('已经是第一页了')
            return;
        }
        pageIndex--;
    }
    function Next() {
        if (pageIndex == pageCount) {
            alert('已经是最后一页了');
            return;
        }
        pageIndex++;
    }
    function Last() {
        if (pageIndex == pageCount) {
            alert('已经是最后一页了');
            return;
        }
        pageIndex = pageCount;
    }
</script>
<div>
    <div style="margin-top:1px;">
        会员等级: <select name="interest" lay-filter="会员等级" id="dj" style="width:100px;height:38px;">
            <option></option>
        </select>
        创建时间: <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" style="width:150px;height:33px;">
        <input type="text" id="name" lay-verify="required" placeholder="请输入" autocomplete="off" style="width:200px;height:33px;">
        <button type="button" style="margin-left:auto" onclick="one()" class="layui-btn">
            <i class="layui-icon">&#xe615;</i>
        </button>
        <input type="checkbox" name="name" value="" /> 会员到期预警
    </div>
    <table class="layui-table">
        <thead>
            <tr style="background-color: lavender;">
                <th>序号</th>
                <th>卡号</th>
                <th>会员类型</th>
                <th>会员等级</th>
                <th>会员姓名</th>
                <th>手机号码</th>
                <th>积累消费(元)</th>
                <th>储值余额(元)</th>
                <th>累计储值</th>
                <th>积分</th>
                <th>开卡时间</th>
                <th>到期时间</th>
                <th>会员状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="list">
        </tbody>
    </table>
    <div>
        <input type="button" value="首页" onclick="First()" />
        <input type="button" value="上一页" onclick="Prev()" />
        <input type="button" value="下一页" onclick="Next()" />
        <input type="button" value="尾页" onclick="Last()" />
    </div>
</div>


