
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/layui-v2.4.5/layui/lay/modules/layer.js"></script>
<script>
    $(function () {
        Selx();
    })
    function Selx() {
        $.ajax({
            url: "http://localhost:4965/api/JcyVIP/GetVIPgrades",
            dataType: "json",
            type: "get",
            async: false,
            success: function (data) {
                $("#dj").empty();
                $("#dj").append("<option value=0>==请选择==</option>");
                $(data).each(function () {
                    $("#dj").append("<option value=" + this.vGradeId + ">" + this.vGradeName + "</option>");
                })
            },
            complete: function () {
                ShowInfo();
            }
        })
    }
    function ShowInfo() {
        var stime = $("#stime").val();
        var etime = $("#stime").val();
        var id = $("#dj").val();
        var name = $("#name").val();
        var phone = $("#name").val();
        var Card = $("#IdCard").val();
        $.ajax({
            url: "http://localhost:4965/api/JcyVIP/GetVIPInfos",
            dataType: "json",
            type: "get",
            data: { stime: stime, etime: etime, id: id, name: name, phone, phone, Card: Card },
            async: false,
            success: function (data) {
                $("#list").empty();
                $(data).each(function () {
                    var htmls = "<tr>" +
                        "<td>" + this.id + "</td>" +
                        "<td>" + this.idCard + "</td>" +
                        "<td>" + this.vTypeName + "</td>" +
                        "<td style='color:#ffd800;font-weight:bold'>" + this.vGradeName + "</td>" +
                        "<td>" + '<a href="javascript:;" style="color:darkslateblue">' + this.vIPName + '</a>' + "</td>" +
                        "<td>" + this.phone + "</td>" +
                        "<td>" + this.amassPrice + "</td>" +
                        "<td>" + this.svalueMoney + "</td>" +
                        "<td>" + this.amassSvalue + "</td>" +
                        "<td>" + this.integral + "</td>" +
                        "<td>" + this.startTime + "</td>" +
                        "<td>" + this.endTime + "</td>" +
                        "<td>" + this.vIPState + "</td>" +
                        "<td>操作</td></tr>";
                    $("#list").append(htmls);
                })
            }
        })
    }
    function one() {
        ShowInfo();
    }
</script>
<script>
</script>
<div>
    <div style="margin-top:1px;">
        会员等级: <select name="interest" lay-filter="会员等级" id="dj" style="width:100px;height:38px;">
            <option></option>
        </select>
        创建时间: <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" style="width:150px;height:33px;">
        <input type="text" id="name" lay-verify="required" placeholder="请输入" autocomplete="off" style="width:200px;height:33px;">
        <button type="button" style="margin-left:auto" onclick="one()" class="layui-btn">
            <i class="layui-icon">&#xe615;</i>
        </button>
        <input type="checkbox" name="name" value="" /> 会员到期预警
    </div>
    <table class="layui-table">
        <thead style="background-color:darkslateblue;">
            <tr>
                <td>序号</td>
                <td>卡号</td>
                <td>会员类型</td>
                <td>会员等级</td>
                <td>会员姓名</td>
                <td>手机号码</td>
                <td>积累消费(元)</td>
                <td>储值余额(元)</td>
                <td>累计储值</td>
                <td>积分</td>
                <td>开卡时间</td>
                <td>到期时间</td>
                <td>会员状态</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody id="list">
        </tbody>
    </table>
</div>


