
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    var form;
    $(function () {
        layui.use('form', function () {
            form = layui.form;

            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
                return false;
            });
        });
        Selx();
    })
    function Selx() {
        $.ajax({
            url: "http://localhost:4965/api/JcyVIP/GetVIPgrades",
            dataType: "json",
            type: "get",
            async: false,
            success: function (data) {
                $("#dj").empty();
                $("#dj").append("<option value=0>==请选择==</option>");
                $(data).each(function () {
                    $("#dj").append("<option value=" + this.vGradeId + ">" + this.vGradeName + "</option>");
                })
            },
            complete: function () {
                ShowInfo();
            }
        })
    }
    function ShowInfo() {
        var stime = $("#stime").val();
        var etime = $("#stime").val();
        var id = $("#dj").val();
        var name = $("#name").val();
        var phone = $("#name").val();
        var Card = $("#IdCard").val();
        $.ajax({
            url: "http://localhost:4965/api/JcyVIP/GetVIPInfos",
            dataType: "json",
            type: "get",
            data: {stime: stime, etime: etime, id: id, name: name, phone, phone, Card: Card},
            async: false,
            success: function (data) {
                $("#list").empty();
                $(data).each(function () {
                    var htmls = "<tr>" +
                        "<td>" + this.id + "</td>" +
                        "<td>" + this.idCard + "</td>" +
                        "<td>" + this.vTypeName + "</td>" +
                        "<td>" + this.vGradeName + "</td>" +
                        "<td>" + this.vIPName + "</td>" +
                        "<td>" + this.phone + "</td>" +
                        "<td>" + this.amassPrice + "</td>" +
                        "<td>" + this.svalueMoney + "</td>" +
                        "<td>" + this.amassSvalue + "</td>" +
                        "<td>" + this.integral + "</td>" +
                        "<td>" + this.startTime + "</td>" +
                        "<td>" + this.endTime + "</td>" +
                        "<td>" + this.vIPState + "</td>" +
                        "<td>操作</td></tr>";
                    $("#list").append(htmls);
                })
            }
        })
    }
    function one() {
        ShowInfo();
    }
</script>
<script>
</script>
<div>
    <form class="layui-form">
        <div class="layui-form-item" style="float:left">
            <label class="layui-form-label">会员等级</label>
            <div style="width:300px">
                <div class="layui-input-block">
                    <select name="interest" lay-filter="aihao" id="dj">
                        <option></option>
                    </select>
                </div>
            </div>
        </div>
    </form>
    &nbsp;
    创建时间:
    <div class="layui-input-inline">
        <input type="text" class="layui-input" id="stime" placeholder="yyyy-MM-dd HH:mm:ss">
    </div>
    <div class="layui-input-inline" style="margin-left:-100px">
        <input type="text" id="name" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input-block">
    </div>
    <button type="button" class="layui-btn" style="margin-left:-4px;" onclick="one()">
        <i class="layui-icon">&#xe615;</i>
    </button>
    &emsp;
    <input type="checkbox" name="name" value="" /> 会员到期预警
    <table class="layui-table">
        <thead style="background-color:darkslateblue;">
            <tr>
                <td>序号</td>
                <td>卡号</td>
                <td>会员类型</td>
                <td>会员等级</td>
                <td>会员姓名</td>
                <td>手机号码</td>
                <td>积累消费(元)</td>
                <td>储值余额(元)</td>
                <td>累计储值</td>
                <td>积分</td>
                <td>开卡时间</td>
                <td>到期时间</td>
                <td>会员状态</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody id="list">
        </tbody>
    </table>
</div>


