
@{
    ViewData["Title"] = "MemberSet";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h1></h1>
<h1></h1>
<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/layui-v2.4.5/layui/lay/modules/layer.js"></script>
<script>
    $(function () {
        ShowInfofour();
        $('.test').on('click', function () {
            layer.open({
                type: 2,
                title: false,
                closeBtn: 1, //不显示关闭按钮
                shade: [0],
                area: ['400px', '300px'],
                anim: 2,
                content: ['/JcyVIP/SetVipWhere?id=' + this.id, 'no'], //iframe的url，no代表不显示滚动条
            });
        });

        $('.test1').on('click', function () {
            layer.open({
                type: 2,
                title: false,
                closeBtn: 1, //不显示关闭按钮
                shade: [0],
                area: ['400px', '350px'],
                anim: 2,
                content: ['/JcyVIP/AddVIPType', 'no'], //iframe的url，no代表不显示滚动条
            });
        });

        $('.test2').on('click', function () {
            layer.open({
                type: 2,
                title: false,
                closeBtn: 1, //不显示关闭按钮
                shade: [0],
                area: ['400px', '350px'],
                anim: 2,
                content: ['/JcyVIP/VIPUpds?id=' + this.id, 'no'], //iframe的url，no代表不显示滚动条
            });
        });
    })
    function ShowInfofour() {
        $.ajax({
            url: "http://localhost:4965/api/JcyVIP/GetMemberSet",
            dataType: "json",
            type: "get",
            data: {},
            async: false,
            success: function (data) {
                console.log(data);
                $("#list3").empty();
                $(data).each(function () {
                    var htmls = "<tr>" +
                        "<td>" + this.id + "</td>" +
                        "<td>" + this.vGradeName + "</td>" +
                        "<td>" + this.vipName + "</td>" +
                        "<td>" + this.vipReset + "</td>" +
                        "<td>" + this.minIntegral + "</td>" +
                        "<td>" + this.upgrade + "</td>" +
                        "<td>" + this.remark + "</td>" +
                        "<td>" + this.states + "</td>" +
                        "<td><a href='#' class='test2' id='" + this.id + "'>编辑</a>&nbsp;<a type='button'  class='test' id='" + this.id + "'>新增会员类型</a>&nbsp;<a type='button'  class='test1' id='" + this.id + "' >会员条件设置</a>&nbsp;</td></tr>";
                    $("#list3").append(htmls);
                })
            }
        })
    }
</script>
<div style="text-align:center">
    <table class="layui-table">
        <thead>
            <tr style="background-color: lavender;">
                <th>序号</th>
                <th>会员等级</th>
                <th>会员名称</th>
                <th>折扣</th>
                <th>最低积分</th>
                <th>升级所需积分</th>
                <th>备注</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="list3">

        </tbody>
    </table>
</div>

