
@{
    ViewData["Title"] = "MemberSet";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h1></h1>
<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/layui-v2.4.5/layui/lay/modules/layer.js"></script>
<script>
    $(function () {
        ShowInfofour();
        $('.test').on('click', function () {
            layer.open({
                type: 2,
                title: false,
                closeBtn: 1, //不显示关闭按钮
                shade: [0],
                area: ['400px', '300px'],
                anim: 2,
                content: ['/JcyVIP/SetVipWhere?id=' + this.id, 'no'], //iframe的url，no代表不显示滚动条
            });
        });

        $('.test1').on('click', function () {
            layer.open({
                type: 2,
                title: false,
                closeBtn: 1, //不显示关闭按钮
                shade: [0],
                area: ['400px', '350px'],
                anim: 2,
                content: ['/JcyVIP/AddVIPType', 'no'], //iframe的url，no代表不显示滚动条
            });
        });

        $('.test2').on('click', function () {
            layer.open({
                type: 2,
                title: false,
                closeBtn: 1, //不显示关闭按钮
                shade: [0],
                area: ['400px', '350px'],
                anim: 2,
                content: ['/JcyVIP/VIPUpds?id=' + this.id, 'no'], //iframe的url，no代表不显示滚动条
            });
        });
    })
    var pageindex = 1;
    var pagesize = 5;
    var pageCount = 0;
    function Showy() {
        pageindex = 1;
        $("#sp").text(pageindex);
        ShowInfofour();
    }
    function pore() {
        if (pageindex == 1) {
            alert("已经到首页了");
            return;
        }
        pageindex--;
        $("#sp").text(pageindex);
        ShowInfofour();
    }
    function Next() {
        if (pageindex == pageCount) {
            alert("已经到尾页了");
            return;
        }
        pageindex++;
        $("#sp").text(pageindex);
        ShowInfofour();

    }
    function wei() {
        pageindex = pageCount;
        $("#sp").text(pageindex);
        ShowInfofour();

    }
    function ShowInfofour() {
        $.ajax({
            url: "http://localhost:4965/api/JcyVIP/GetMemberSet",
            dataType: "json",
            type: "get",
            async: false,
            success: function (data) {
                console.log(data);
                $("#list3").empty();
                $(data.list).each(function () {
                    var htmls = "<tr>" +
                        "<td>" + this.id + "</td>" +
                        "<td>" + this.vGradeName + "</td>" +
                        "<td>" + this.vipName + "</td>" +
                        "<td>" + this.vipReset + "</td>" +
                        "<td>" + this.minIntegral + "</td>" +
                        "<td>" + this.upgrade + "</td>" +
                        "<td>" + this.remark + "</td>" +
                        "<td>" + (this.states==1?"启用":"禁用") + "</td>" +
                        "<td><a href='#' class='test2' id='" + this.id + "'>编辑</a>&nbsp;<a href='#' class='test' id='" + this.id + "'>新增会员类型</a>&nbsp;<a href='#'  class='test1' id='" + this.id + "' >会员条件设置</a>&nbsp;</td></tr>";
                    $("#list3").append(htmls);
                })
                pageCount = Math.ceil(data.count * 1.0 / pagesize);
                $("#sp").text(pageindex);
                $("#counts").text(pageCount);
            }
        })
    }
</script>
<div style="margin-top:1px;margin-left:280px;text-align:center;width:1280px;height:560px;">
    <table class="layui-table" style="height: 500px;width:1200px;">
        <thead>
            <tr style="background-color: lavender;">
                <th>序号</th>
                <th>会员等级</th>
                <th>会员名称</th>
                <th>折扣</th>
                <th>最低积分</th>
                <th>升级所需积分</th>
                <th>备注</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="list3">

        </tbody>
    </table>
</div>
<div style="margin-left:700px;">
    <input id="Button1" type="button" value="首页" class="layui-btn" onclick="Showy()" />
    <input id="Button1" type="button" value="上一页" class="layui-btn" onclick="pore()" />
    <input id="Button1" type="button" value="下一页" class="layui-btn" onclick="Next()" />
    <input id="Button1" type="button" value="尾页" class="layui-btn" onclick="wei()" />
    当前页:<span style="color:blue" id="sp"></span>
    总页数:<span style="color:red" id="counts"></span>
</div>

