
@{
    ViewData["Title"] = "Pointmanage";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h1>Pointmanage</h1>
<h1></h1>
<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script>
    $(function () {
        Sels();
    })

    function Sels() {
        $.ajax({
            url: "http://localhost:4965/api/JcyVIP/GetVIPgrades",
            dataType: "json",
            type: "get",
            async: false,
            success: function (data) {
                $("#dj2").empty();
                $("#dj2").append("<option value=0>==请选择==</option>");
                $(data).each(function () {
                    $("#dj2").append("<option value=" + this.vGradeId + ">" + this.vGradeName + "</option>");
                })
            },
            complete: function () {
                ShowInfothree();
            }
        })
    }


    function ShowInfothree() {
        var id = $("#dj2").val();
        var name = $("#name").val();
        var phone = $("#name").val();
        var Card = $("#IdCard").val();
        $.ajax({
            url: "http://localhost:4965/api/JcyVIP/GetJF",
            dataType: "json",
            type: "get",
            data: { id: id, name: name, phone, phone, Card: Card},
            async: false,
            success: function (data) {
                $("#list2").empty();
                $(data).each(function () {
                    var htmls = "<tr>" +
                        "<td>" + this.id + "</td>" +
                        "<td>" + this.idCard + "</td>" +
                        "<td>" + this.vTypeName + "</td>" +
                        "<td style='color:#ffd800;font-weight:bold'>" + this.vGradeName + "</td>" +
                        "<td>" + '<a href="javascript:;" style="color:darkslateblue">' + this.vIPName + '</a>' +"</td>" +
                        "<td>" + this.phone + "</td>" +
                        "<td>" + this.integral + "</td>" +
                        "<td>操作</td></tr>";
                    $("#list2").append(htmls);
                })
            }
        })
    }
</script>
<div>
    <div style="margin-top:1px;">
        会员等级:
        <select name="interest" lay-filter="会员等级" id="dj2" style="width:100px;height:38px;">
        </select>
        <input type="text" id="name" lay-verify="required" placeholder="请输入" autocomplete="off" style="width:200px;height:33px;">
        <button type="button" style="margin-left:auto" onclick="ShowInfothree()" class="layui-btn">
            <i class="layui-icon">&#xe615;</i>
        </button>
    </div>
   
    <table class="layui-table">
        <thead style="background-color:darkslateblue;">
            <tr>
                <td>序号</td>
                <td>卡号</td>
                <td>会员类型</td>
                <td>会员等级</td>
                <td>会员姓名</td>
                <td>手机号码</td>
                <td>积分</td>
                <td>操作</td>
            </tr>
        </thead>
        <tbody id="list2">
        </tbody>
    </table>
</div>
