
@{
    ViewData["Title"] = "Pointmanage";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h1></h1>
<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/layui-v2.4.5/layui/lay/modules/layer.js"></script>
<script>
    $(function () {
        Sels();
        text3();
        text4();
    })
    function text3() {
        $('.test2').on('click', function () {
            layer.open({
                type: 2,
                title: false,
                closeBtn: 1, //不显示关闭按钮
                shade: [0],
                area: ['400px', '420px'],
                anim: 2,
                content: ['/JcyVIP/PoinBD?id=' + this.id, 'no'], //iframe的url，no代表不显示滚动条
            });
        });
    }
    function text4() {
        $('.test3').on('click', function () {
            layer.open({
                type: 2,
                title: false,
                closeBtn: 1, //不显示关闭按钮
                shade: [0],
                area: ['500px', '320px'],
                anim: 2,
                content: ['/JcyVIP/PoinJL?id=' + this.id, 'no'], //iframe的url，no代表不显示滚动条
            });
        });
    }
    function Sels() {
        $.ajax({
            url: "http://localhost:4965/api/JcyVIP/GetVIPgrades",
            dataType: "json",
            type: "get",
            async: false,
            success: function (data) {
                $("#dj2").empty();
                $("#dj2").append("<option value=0>==请选择==</option>");
                $(data).each(function () {
                    $("#dj2").append("<option value=" + this.vGradeId + ">" + this.vGradeName + "</option>");
                })
            },
            complete: function () {
                ShowInfothree();
            }
        })
    }
    function ShowInfothree() {
        var id = $("#dj2").val();
        var name = $("#name").val();
        var phone = $("#name").val();
        var Card = $("#IdCard").val();
        $.ajax({
            url: "http://localhost:4965/api/JcyVIP/GetJF",
            dataType: "json",
            type: "get",
            data: { id: id, name: name, phone, phone, Card: Card },
            async: false,
            success: function (data) {
                $("#list2").empty();
                $(data).each(function () {
                    var htmls = "<tr>" +
                        "<td>" + this.id + "</td>" +
                        "<td>" + this.idCard + "</td>" +
                        "<td>" + this.vTypeName + "</td>" +
                        "<td style='color:#ffd800;font-weight:bold'>" + this.vGradeName + "</td>" +
                        "<td>" + '<a href="javascript:;" style="color:darkslateblue">' + this.patientName + '</a>' + "</td>" +
                        "<td>" + this.phone + "</td>" +
                        "<td>" + this.integral + "</td>" +
                        "<td><a href='#' class='test2' id='" + this.id + "' style='color:darkslateblue;font-weight:bold'>积分变动</a>&nbsp;<a href='#' class='test3' id='" + this.id + "' style='color:darkslateblue;font-weight:bold'>积分变动记录</a></td></tr>";
                    $("#list2").append(htmls);
                })
            }
        })
    }
</script>
<div style="text-align:center;width:1200px;height:400px;">
    <div style="margin-top:1px;">
        会员等级:
        <select name="interest" lay-filter="会员等级" id="dj2" style="width:100px;height:38px;">
        </select>
        <input type="text" id="name" lay-verify="required" placeholder="请输入" autocomplete="off" style="width:200px;height:33px;">
        <button type="button" style="margin-left:auto" onclick="ShowInfothree()" class="layui-btn">
            <i class="layui-icon">&#xe615;</i>
        </button>
    </div>
    <table class="layui-table">
        <thead>
            <tr style="background-color: lavender;text-align:center;">
                <th style="text-align:center">序号</th>
                <th style="text-align:center">卡号</th>
                <th style="text-align:center">会员类型</th>
                <th style="text-align:center">会员等级</th>
                <th style="text-align:center">会员姓名</th>
                <th style="text-align:center">手机号码</th>
                <th style="text-align:center">积分</th>
                <th style="text-align:center">操作</th>
            </tr>
        </thead>
        <tbody id="list2">

        </tbody>
    </table>
</div>
