
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SetVIP</title>
    <script src="~/js/site.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/layui-v2.4.5/layui/layui.js"></script>
    <link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui-v2.4.5/layui/lay/modules/layer.js"></script>
    <script>
        $(function () {
            var Rname = sessionStorage.getItem("Rname");

            if (Rname == null) {
                alert("请登录");
                location.href = "/HzxLogin/Login";
            }

            Ones();
            ShowIndex();
        })
        function Ones(id) {
             $.ajax({
                url: "http://localhost:4965/api/JcyVIP/GetById",
                dataType: "json",
                data: { id:@ViewBag.id},
                type: "get",
                success: function (data) {
                    console.log(data);
                    $("#card").text(data.idCard);
                    $("#name").text(data.patientName);
                }
            })
        }
        function ShowIndex() {
            $.ajax({
                url: "http://localhost:4965/api/JcyVIP/SetGrade",
                dataType: "json",
                type: "get",
                data: { name:$("#name").text()},
                success: function (data) {
                    $("#list").empty();
                    $(data).each(function () {
                        var str = "<tr>" +
                            "<td>" + this.chTime + "</td>" +
                            "<td>" + this.chType + "</td>" +
                            "<td>" + this.vTypeName + "</td>" +
                            "<td>" + this.operator + "</td>" +
                            "</tr> ";
                        $("#list").append(str);
                    })
                }
            })
        }
    </script>
</head>
<body>
    <div>
        <input type="hidden" id="id" value="@ViewBag.id" />
        &emsp;<h3 style="margin-left:15px;">设置会员等级</h3>
        <br />
        <div>
            &emsp;会员卡号:<span id="card"></span>&emsp;&emsp;会员名称:<span id="name"></span>
        </div>
        <div>
            <table class="layui-table">
                <thead>
                    <tr>
                        <td>变动时间</td>
                        <td>变更类型</td>
                        <td>会员姓名</td>
                        <td>操作员</td>
                    </tr>
                </thead>
                <tbody id="list">

                </tbody>
            </table>
        </div>
    </div>
</body>
</html>
