
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowCZ</title>
    <link href="~/layui-v2.4.5/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
    <link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui-v2.4.5/layui/layui.js"></script>
    <script src="~/js/site.js"></script>
    <script>
        $(function () {
            ShowInfos();
        })
        function ShowInfos(id) {
            $.ajax({
                url: "http://localhost:4965/api/JcyVIP/GetById" ,
                dataType: "json",
                data: { id: @ViewBag.id },
                type: "get",
                success: function (data) {
                    $("#card").text(data.idCard);
                    $("#name").text(data.vIPName);
                    $("#ye").text(data.svalueMoney);
                }
            })
        }
        function UpdShowCZ() {
            var vip = {
                PayMoney: $("#money").val(),
                GiveMoney: $("#addmoney").val(),
                SId: $("[name=fs]:checked").val(),
                Id: $("#id").val()
            };
            $.ajax({
                url: "http://localhost:4965/api/JcyVIP/UpdCZ",
                dataType: "json",
                type: "post",
                data: vip,
                //contentType:"/application/json",
                success: function (data) {
                    console.log(data);
                    if (data > 0) {
                        alert('充值成功');
                        location.reload();
                        window.close();
                    } else {
                        alert('充值失败');
                        location.reload();
                    }
                }
            })
        }
    </script>
</head>
<body>
    <div style="text-align:center">
        <input type="hidden" id="id" value="@ViewBag.id" />
        <h3>余额充值</h3>
        <br />
        <div>
            会员卡号:<span id="card"></span>&emsp;&emsp;会员姓名:<span id="name"></span>
        </div>
        <br />
        <div>
            余额:<span id="ye"> </span>
        </div>
        <br />
        <div>
            充值金额(元):<span style="color:red">*</span>
            <input type="text" name="name" value="" class="layui-text" />
        </div>
        <br />
        <div>
            赠送金额(元):&nbsp; <input type="text" name="name" value="" class="layui-text" />
        </div>
        <br />
        <div>
            支付方式:
            <input type="radio" name="name" value="现金" checked />现金
            <input type="radio" name="name" value="支付宝" />支付宝
            <input type="radio" name="name" value="微信" />微信
            <input type="radio" name="name" value="银行卡" />银行卡
        </div>
        <br />
        <div>
            <input type="button" name="name" value="取消" class="layui-btn" />
            <input type="button" name="name" value="确定" class="layui-btn layui-btn-warm"  onclick="UpdShowCZ()"/>
        </div>
    </div>
</body>
</html>
