
@{
    ViewData["Title"] = "SValuemage";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<h1></h1>
<script src="~/js/site.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/layui-v2.4.5/layui/lay/modules/layer.js"></script>
<script>
    $(function () {
        Selc();
        $('.test2').on('click', function () {
            layer.open({
                type: 2,
                title: false,
                closeBtn: 1, //不显示关闭按钮
                shade: [0],
                area: ['400', '300px'],
                anim: 2,
                content: ['/JcyVIP/ShowCZ?id=' + this.id, 'no'], //iframe的url，no代表不显示滚动条
            });
        });
    })
    function Selc() {
        $.ajax({
            url: "http://localhost:4965/api/JcyVIP/GetVIPgrades",
            dataType: "json",
            type: "get",
            async: false,
            success: function (data) {
                $("#dj1").empty();
                $("#dj1").append("<option value=0>==请选择==</option>");
                $(data).each(function () {
                    $("#dj1").append("<option value=" + this.vGradeId + ">" + this.vGradeName + "</option>");
                })
            },
            complete: function () {
                ShowInfotwo();
            }
        })
    }

    function ShowInfotwo() {
        var id = $("#dj1").val();
        var name = $("#name").val();
        var phone = $("#name").val();
        var Card = $("#IdCard").val();
        $.ajax({
            url: "http://localhost:4965/api/JcyVIP/GetCZ",
            dataType: "json",
            type: "get",
            data: { id: id, name: name, phone, phone, Card: Card },
            async: false,
            success: function (data) {
                $("#list1").empty();
                $(data).each(function () {
                    var htmls = "<tr>" +
                        "<td>" + this.id + "</td>" +
                        "<td>" + this.idCard + "</td>" +
                        "<td>" + this.vTypeName + "</td>" +
                        "<td style='color:#ffd800;font-weight:bold'>" + this.vGradeName + "</td>" +
                        "<td>" + '<a href="javascript:;" style="color:darkslateblue">' + this.patientName + '</a>' + "</td>" +
                        "<td>" + this.phone + "</td>" +
                        "<td>" + this.amassSvalue + "</td>" +
                        "<td>" + this.addGiveMoney + "</td>" +
                        "<td>" + this.svalueMoney + "</td>" +
                        "<td>" + this.amassPrice + "</td>" +
                        "<td><a href='#' class='test2' style='color:darkslateblue;font-weight:bold'>充值</a>&nbsp;</td></tr>";
                    $("#list1").append(htmls);
                })
            }
        })
    }
</script>
<div>
    <div style="margin-top:1px;">
        会员等级:
        <select name="interest" lay-filter="会员等级" id="dj1" style="width:100px;height:38px;">
        </select>
        <input type="text" id="name" lay-verify="required" placeholder="请输入" autocomplete="off" style="width:200px;height:33px;">
        <button type="button" style="margin-left:auto" onclick="ShowInfotwo()" class="layui-btn">
            <i class="layui-icon">&#xe615;</i>
        </button>
    </div>
    <table class="layui-table">
        <thead>
            <tr style="background-color: lavender;">
                <th>序号</th>
                <th>卡号</th>
                <th>会员类型</th>
                <th>会员等级</th>
                <th>会员姓名</th>
                <th>手机号码</th>
                <th>累计储值(元)</th>
                <th>累计赠送(元)</th>
                <th>余额(元)</th>
                <th>储值累计消费(元)</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody id="list1">

        </tbody>
    </table>
</div>

