
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VIPDJ</title>
    <script src="~/js/site.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/layui-v2.4.5/layui/layui.js"></script>
    <link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui-v2.4.5/layui/lay/modules/layer.js"></script>
    <script>
        var card;
        var name;
        var types;
        var man;
        $(function () {
            var Rname = sessionStorage.getItem("Rname");

            if (Rname == null) {
                alert("请登录");
                location.href = "/HzxLogin/Login";
            }

            Ones();
            FindInfos();
            ShowInfos();
            $("#chks").change(function () {
                $(this).off('change');
                document.getElementById("times").setAttribute("disabled", "disabled");
            });
            if (document.getElementById("times").setAttribute("disabled", "disabled") == true) {
                $("#time").val = "";
            }
        })
        function Ones(id) {
             $.ajax({
                url: "http://localhost:4965/api/JcyVIP/GetById",
                dataType: "json",
                data: { id:@ViewBag.id},
                type: "get",
                success: function (data) {
                    console.log(data);
                    $("#card").text(data.idCard);
                    $("#name").text(data.patientName);
                }
            })
        }

        function FindInfos() {
            $.ajax({
                url: "http://localhost:4965/api/JcyVIP/GetVIPgrade",
                dataType: "json",
                type: "get",
                success: function (data) {
                    console.log(data);
                    card = data.vIPCard;
                    name = data.vIPName;
                    types = "人工操作";
                    man = "晋超宇";
                }
            })
        }

        function ShowInfos() {
            $.ajax({
                url: "http://localhost:4965/api/JcyVIP/GetVIPgrade",
                dataType: "json",
                type: "get",
                success: function (data) {
                    console.log(data)
                    $("#list").empty();
                    $(data).each(function () {
                        var str = "<tr>"+
                        "<td><input type='radio' name='chk' value="+this.id+"/></td>"+
                            "<td>" + this.vGradeName+"</td>"+
                            "<td>" + this.vTypeName+"</td>"+
                            "<td>" + this.discount+"</td></tr>";
                        $("#list").append(str);
                    })
                }
            })
        }

        var hydj="";
        var hymc="";
        var zk = 0;

        function UpdInfos() {
            //var htmls = {
            //    endTime: $("#times").val(),
            //    vGradeId: $("[name=chk]:checked").val(),
            //    Id: $("#id").val()
            //};
            $.ajax({
                url: "http://localhost:4965/api/JcyVIP/GetVIPgrade",
                dataType: "json",
                type: "get",
                success: function (data) {
                    if ($("[name==chk]:checked").val() == 1) {
                        hydj = $(data).vGradeName.val("VIP1");
                        hymc = $(data).vTypeName.val("普通会员");
                        zk = $(data).discount.val(9.80);
                    } else if ($("[name==chk]:checked").val() == 2) {
                        hydj = $(data).vGradeName.val("VIP2");
                        hymc = $(data).vTypeName.val("初级会员");
                        zk = $(data).discount.val(9.50);
                    } else if ($("[name==chk]:checked").val() == 3) {
                        hydj = $(data).vGradeName.val("VIP3");
                        hymc = $(data).vTypeName.val("高级会员");
                        zk = $(data).discount.val(8.8);
                    } else if ($("[name==chk]:checked").val() == 4) {
                        hydj=$(data).vGradeName.val("VIP4");
                        hymc=$(data).vTypeName.val("白银会员");
                        zk=$(data).discount.val(8.5);
                    } else if ($("[name==chk]:checked").val() == 5) {
                        hydj = $(data).vGradeName.val("VIP5");
                        hymc = $(data).vTypeName.val("黄金会员");
                        zk = $(data).discount.val(8.3);
                    }
                }
            })
            var htmls = {};
            htmls.endTime = $("#times").val();
            htmls.vTypeName = hydj;
            htmls.vGradeName = hymc;
            htmls.discount = zk;
            htmls.id = $("#id").val();
              $.ajax({
                url: "http://localhost:4965/api/JcyVIP/UpdVIPgrade",
                type: "post",
                dataType: "json",
                data: htmls,
                success: function (data) {
                    console.log(htmls);
                    if (data > 0) {
                        var adds = {};
                        adds.vIPCard = card;
                        adds.vIPName = name;
                        adds.chType = types;
                        adds.operator = man;
                        $.ajax({
                            url: "http://localhost:4965/api/JcyVIP/AddGrade",
                            dataType: "json",
                            type: "post",
                            data: adds,
                            success: function (d) {
                                console.log(adds);
                                if (d > 0) {
                                    alert('成功');
                                    let index = parent.layer.getFrameIndex(window.name);
                                    parent.layer.close(index);
                                    location.reload();
                                } else {
                                    alert('成功')
                                    let index = parent.layer.getFrameIndex(window.name);
                                    parent.layer.close(index);
                                    location.reload();
                                }
                            }
                        })
                    } else {
                        alert('设置成功');
                        ShowInfos();
                    }
                }
            })
        }
    </script>
</head>
<body>
    <div>
        <input type="hidden" id="id" value="@ViewBag.id" />
        &emsp;<h3 style="margin-left:15px;">设置会员等级</h3>
        <br />
        <div>
            &emsp;会员卡号:<span id="card"></span>&emsp;&emsp;会员名称:<span id="name"></span>
        </div>
        <br />
        <div>
            &emsp; 到期时间: <input type="date" id="times" value="" />&emsp;&emsp;<input type="checkbox" id="chks" value="" /> 永不过期
        </div>
        <div>
            <table class="layui-table">
                <thead>
                    <tr>
                        <td></td>
                        <td>会员等级</td>
                        <td>会员姓名</td>
                        <td>折扣</td>
                    </tr>
                </thead>
                <tbody id="list">
                </tbody>
            </table>
        </div>
        <div style="text-align:center">
            <input type="button" name="name" value="取消" class="layui-btn" onclick="location.href='/JcyVIP/Index'" />
            <input type="button" name="name" value="确定" class="layui-btn layui-btn-warm" onclick="UpdInfos()" />
        </div>
    </div>
</body>
</html>
