
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VIPSet</title>
    <link href="~/layui-v2.4.5/layui/css/modules/layer/default/layer.css" rel="stylesheet" />
    <link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui-v2.4.5/layui/layui.js"></script>
    <script src="~/js/site.js"></script>
    <script>

    </script>
</head>
<body>
    <div>
        <h3 style="text-align:center">新增会员类型</h3><br />
        <div>
            <div>
                会员等级:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; 会员名称:<br />
            </div>
            <div>
                <input type="text" id="name" value="" class="layui-text" />

                <input type="text" id="name" value="" class="layui-text" />
            </div>
        </div>
        <div>
            <div>
                会员折扣:&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp; 最低消费积分:<br />
            </div>
            <div>
                <input type="text" id="name" value="" class="layui-text" />

                <input type="text" id="name" value="" class="layui-text" />
            </div>
        </div>
        <div>
            <div>
                升级所需积分:&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;&nbsp;&nbsp;&nbsp; 状态:<br />
            </div>
            <div>
                <input type="text" id="name" value="" class="layui-text" />
                <input type="radio" name="name" value="" class="layui-text" />
            </div>
        </div>
        <div>
            备注:<br />
            <input type="text" id="name" value="" class="layui-text" />
        </div>
        <br />
        <div style="float:right">
            <input type="button" name="name" value="取消" class="layui-btn" />
            <input type="button" name="name" value="确定" class="layui-btn layui-btn-warm" />
        </div>
    </div>


</body>
</html>
