
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>VIPTK</title>
    <script src="~/js/site.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/layui-v2.4.5/layui/layui.js"></script>
    <link href="~/layui-v2.4.5/layui/css/layui.css" rel="stylesheet" />
    <script>
        $(function () {
            ShowVIPInfo();
        })
         function ShowVIPInfo(id) {
             $.ajax({
                url: "http://localhost:4965/api/JcyVIP/GetById",
                dataType: "json",
                data: { id:@ViewBag.id},
                type: "get",
                success: function (data) {
                    console.log(data);
                    $("#card").text(data.idCard);
                    $("#name").text(data.patientName);
                    $("#jf").text(data.svalueMoney);
                }
            })
        }
        function UpdVIPTK() {
            var htmls = {
                rePrice: $("#price").val(),
                reTypeId: $("[name=tk]:checked").val(),
                remark: $("#remark").val(),
                id: $("#id").val()
            };
            console.log(htmls);
            $.ajax({
                url: "http://localhost:4965/api/JcyVIP/RePrice",
                data: htmls,
                dataType: "json",
                type: "post",
                success: function (data) {
                    if (data > 0) {
                        alert('设置成功');
                        let index = parent.layer.getFrameIndex(window.name);
                        parent.layer.close(index);
                        location.reload();
                    } else {
                        alert('设置失败');
                        location.reload();
                    }
                }
            })
        }
    </script>
</head>
<body>
    <div>
        <input type="hidden" id="id" value="@ViewBag.id" />
        &emsp;<h3>余额退款</h3>
        <br />
        <div>
            &emsp;会员卡号:<span id="card"></span>&emsp;&emsp;会员姓名:<span id="name"></span>
        </div>
        <br />
        <div>
            &emsp;余额:<span id="jf"></span>元
        </div>
        <br />
        <div>
            &emsp;退款金额(元)<span style="color:red">*</span><br />
            &emsp;<input type="text" id="price" value="" class="layui-input" />
        </div>
        <br />
        <div>
            &emsp;退款方式<br />
            &emsp;<input type="radio" name="tk" value="0" checked />现金
            <input type="radio" name="tk" value="1" />支付宝
            <input type="radio" name="tk" value="2" />微信
            <input type="radio" name="tk" value="3" />银行卡
        </div>
        <br />
        <div>
            &emsp;备注:<br />
            &emsp;<textarea id="remark"></textarea>
        </div>
        <br />
        <div>
            &emsp;<input type="button" name="name" value="取消" class="layui-btn" onclick="location.href='/JcyVIP/Index'" />
            &emsp;<input type="button" name="name" value="确定" class="layui-btn layui-btn-warm" onclick="UpdVIPTK()" />
        </div>
    </div>
</body>
</html>
