
@{
    ViewData["Title"] = "CaseShow";
    Layout = "~/Views/Home/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>


<div id="divBig">
    <div id="div1">
        <div class="layui-input-block" style="width:300px;float:left;margin-top: 50px;">
            <input onclick="CX()" type="text" name="title" lay-verify="title" autocomplete="off" placeholder="附加费查询" class="layui-input">
        </div>
    </div>
    <hr />
    <div id="div2">
        <table class="layui-table">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead>
                <tr>
                    <th>序号</th>
                    <th>诊断内容</th>
                    <th>创建时间</th>
                    <th>创建人</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody id="tbody_td">
                
            </tbody>
        </table>
    </div>
    <div id="div3">

    </div>

</div>
<style>
    div #divBig{
        margin:0px;
        padding:0px;
        margin-left:20px;
        width:1650px;
        height:860px;
        background-color:red;
    }

    div #div1 {
        margin: 0px;
        padding: 0px;
        margin-top:25px;
        width:1650px;
        height:129px;
        background-color:burlywood;
    }
    div #div2 {
        margin: 0px;
        padding: 0px;
        width: 1650px;
        height: 600px;
        background-color: cornflowerblue;
    }
    div #div3 {
        margin: 0px;
        padding: 0px;
        width: 1650px;
        height: 110px;
        background-color: darkcyan;
    }
</style>


<script>
    $().ready(function () {

    });
    function CX() {
        Show();
    }
    function Show() {
        var i=1;
        $.ajax({
            url: "http://localhost:4965/api/DLH_Case/GetCaseInfos",
            type: "get",
            dataType: "json",
            data: { name: name },
            success: function (d) {
                $("#tbody_td").empty();
                $(d).each(function () {
                    var str = "<tr>" +
                        "<td>" + this.i + "</td>"
                        "<td>" + this.caseName + "</td>" +
                        "<td>" + this.caseTable + "</td>" +
                        "<td>" + this.cname + "</td>" +
                        "</tr>";
                    i++;
                    $("#tbody_td").append(str);
                });
            }
        });
    }
</script>