
@{
    ViewData["Title"] = "GetPatient";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<div>
    <div>
        <button type="button" class="layui-btn" style="float:right;margin-right:50px;margin-top:30px;" onclick="location.href ='/Zzh_Patient/AddPatient'">
            <i class="layui-icon">&#xe608;</i> 添加患者
        </button>
    </div>
</div>
        <div>
            <form class="layui-form">
                <div class="layui-form-item" style="float:left">
                    <label class="layui-form-label">会员类型</label>
                    <div style="width:300px">
                        <div class="layui-input-block">
                            <select lay-filter="aihao" id="VIPgrade">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <div style="float:left">
                <div >
                    <div style="width:300px">
                        <label class="layui-form-label">开始时间：</label>
                        <div>
                            <input type="date" id="sTime" />
                        </div>
                    </div>
                </div>
            </div>
            <div style="float:left">
                <div >
                    <div style="width:300px">
                        <label class="layui-form-label">结束时间：</label>
                        <div >
                            <input type="date" id="eTime"/>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-input-block" style="width:300px;float:left">
                <input type="text" id="aaa" placeholder="患者姓名/手机号" class="layui-input" />
            </div>
            <div style="float:left">
                <button type="button" class="layui-btn"  id="btnCX">查询</button>
            </div>
        </div>
        <div align="center" style="width:1650px;height:1000px">
            <table class="layui-table" style="text-align:center;margin-left:30px">
                <colgroup>
                    <col width="150">
                    <col width="200">
                    <col>
                </colgroup>
                <thead style="background-color:lavender">
                    <tr style="background-color: lavender">
                        <th style="text-align:center">序号</th>
                        <th style="text-align:center">患者编码</th>
                        <th style="text-align:center">患者姓名</th>
                        <th style="text-align:center">性别</th>
                        <th style="text-align:center">年龄</th>
                        <th style="text-align:center">手机号码</th>
                        <th style="text-align:center">会员等级</th>
                        <th style="text-align:center">创建时间</th>
                        <th style="text-align:center">操作人员</th>
                        <th style="text-align:center">操作</th>
                    </tr>
                </thead>
                <tbody id="GetPat">
                </tbody>
            </table>
            <div align="center" style="float:left;margin-left:600px">
                <button type="button" style="margin-left:auto" id="SY" class="layui-btn">首页</button>
                <button type="button" style="margin-left:auto" id="SXY" class="layui-btn">上一页</button>
                <button type="button" style="margin-left:auto" onclick="XXY()" class="layui-btn">下一页</button>
                <button type="button" style="margin-left:auto" id="WY" class="layui-btn">尾页</button>
                当前页/总页数:<span style="color:blue" id="sp"></span>

            </div>
        </div>              
<script>
    var form;
    
    var laydate;
    $(function () {
        layui.use('form', function () {
            form = layui.form;
            var layData = ['form', 'laydate'];
            layui.use(layData, function () {
                var laydate = layui.laydate;
                laydate.render({
                    elem: '#sTime'
                });
                laydate.render({
                    elem: '#eTime'
                });
            });
            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
                return false;
            });

        });
        ShowVIPType();

    })
    //会员下拉
    function ShowVIPType() {
        $.ajax({
            url: "http://localhost:4965/api/Zzh_Patient/GetMemberType",
            type: "get",
            dataType: "json",
            success: function (d) {
                $(d).each(function () {
                    var html = "<option value='" + this.memberTypeId + "'>" + this.memberTypeName + "</option>";
                    $("#VIPgrade").append(html);
                    form.render('select');
                   
                });
                ShowPatient();
            }
        })
    }
    var pageindex = 1;
    var pagesize = 10;
    var count = 0;  //总条数
    var pagecount = 0;  //总页数

    $("#btnCX").click(function () {
        pageindex = 1;
        ShowPatient();

    })

    $("#SXY").click(function () {
        if (pageindex == 1) {
            alert('已经是第一页');
            return;
        }
        pageindex = pageindex - 1;
        $("#sp").text(pageindex);
        ShowPatient();
    })

    $("#SY").click(function () {
        pageindex = 1;
        $("#sp").text(pageindex);
        ShowPatient();
    })
    $("#WY").click(function () {
        pageindex = pagecount;
        $("#sp").text(pageindex);
        ShowPatient();
    })
    function XXY() {
        if (pageindex == pagecount) {
            alert('已经是最后一页');
            return;
        }
        pageindex = pageindex + 1;
        $("#sp").text(pageindex);
        ShowPatient();
    }
   //显示
    function ShowPatient() {
        var name = $("#aaa").val();
        var tj = 0;
        var regu = /^1[3|4|5|7|8][0-9]{9}$/;
        var re = new RegExp(regu);
        var han = /^[\u4e00-\u9fa5]+$/;
        console.log(han.test(name));
        if (han.test(name)) {
            tj = 1;
        }
        else if (re.test(name)) {
            tj = 2;
        }



        var id = 0;
        if ($("#VIPgrade").val()!=0) {
            id=$("#VIPgrade").val();
        }
        var sdate = $("#sTime").val();
        var edate = $("#eTime").val();
        var i = 1;
        $.ajax({
            url: "http://localhost:4965/api/Zzh_Patient/GetPatient",
            type: "get",
            data: { name: name,tj:tj, id: id, sdate: sdate, edate: edate, pageindex: pageindex, pagesize: pagesize},
            dataType: "json",
            success: function (d) {
                $("#GetPat").empty();
                $(d.pageList).each(function () {
                    var str = "<tr>" +
                        "<td>" + this.patientId + "</td>" +
                        "<td>" + this.patientCode + "</td>" +
                        "<td>" + this.patientName + "</td>" +
                        "<td>" + (this.patientSex?"男":"女") + "</td>" +
                        "<td>" + this.patientAge + "</td>" +
                        "<td>" + this.patientPhone + "</td>" +
                        "<td style='color:orange'>" + this.memberTypeName + "</td>" +
                        "<td>" + this.aaa + "</td>" +
                        "<td>" + this.caoZuoRenName + "</td>" +
                        "<td><a style='margin-left:15px' onclick='Update(" + this.patientId + ")'>编辑</a><a class='pc' style='margin-left:15px' id='" + this.patientId+"'>设置会员</a><a href='' style='margin-left:15px' onclick='Del(" + this.patientId + ")'>删除</a></td></tr>";
                    $("#GetPat").append(str);
                  
                    i++;
                });
                count = d.countnum;  //总条数
                pagecount = Math.ceil(count * 1.0 / pagesize); //总页数
                $("#sp").text(pageindex + "/" + pagecount);
            }
        });
    }
    $(document).on('click', '.pc', function () {
        layer.open({
            type: 2,
            title: false,
            closeBtn: 1, //不显示关闭按钮
            shade: [0],
            area: ['300px', '400px'],
            anim: 2,
            content: ['/Zzh_Patient/HuiYuan?id='+ this.id, 'no'], //iframe的url，no代表不显示滚动条
            end: function () {
                ShowPatient();
            }

        });
    });
    //删除
    function Del(id) {
        $.ajax({
            url: "http://localhost:4965/api/Zzh_Patient/DelPatient?id=" + id,
            type: "post",
            dataType: "json",
            success: function (d) {
                if (d > 0) {
                    alert("删除成功");
                    location.href = '/Zzh_Patient/GetPatient';
                }
                else {
                    alert("删除失败");
                }
            }
        })
    }
    //修改
    function Update(id) {
        location.href = "/Zzh_Patient/UpdPatient?pid=" + id;
    }
</script>

