
@{
    ViewData["Title"] = "GetPatient";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>

<div>
    <div>
        <button type="button" class="layui-btn" style="float:right;margin-right:50px;margin-top:30px;" onclick="location.href ='/Zzh_Patient/AddPatient'">
            <i class="layui-icon">&#xe608;</i> 添加患者
        </button>
    </div>
    </div>
        <div>
            <form class="layui-form">
                <div class="layui-form-item" style="float:left">
                    <label class="layui-form-label">会员类型</label>
                    <div style="width:300px">
                        <div class="layui-input-block">
                            <select lay-filter="aihao" id="VIPgrade">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <div style="float:left">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12">
                    <div class="layui-form-item" style="width:300px">
                        <label class="layui-form-label">开始时间：</label>
                        <div class="layui-input-block">
                            <input type="text" id="sTime" name="sTime" model="datetime"
                                   format="yyyy-MM-dd" placeholder="yyyy-MM-dd" autocomplete="off"
                                   class="layui-input test-item" />
                        </div>
                    </div>
                </div>
            </div>
            <div style="float:left">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-lg12">
                    <div class="layui-form-item" style="width:300px">
                        <label class="layui-form-label">结束时间：</label>
                        <div class="layui-input-block">
                            <input type="text" id="eTime" name="eTime" model="datetime"
                                   format="yyyy-MM-dd" placeholder="yyyy-MM-dd" autocomplete="off"
                                   class="layui-input test-item" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-input-block" style="width:300px;float:left">
                <input type="text" id="aaa" placeholder="患者姓名/手机号" class="layui-input" />
            </div>
            <div style="float:left">
                <button type="button" class="layui-btn" onclick="cx()">查询</button>
            </div>
        </div>
    <div align="center" style="width:1650px;height:1000px">
        <table class="layui-table" style="text-align:center;margin-left:30px">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead style="background-color:lavender">
            <tr style="background-color: lavender">
                <th style="text-align:center">序号</th>
                <th style="text-align:center">患者编码</th>
                <th style="text-align:center">患者姓名</th>
                <th style="text-align:center">性别</th>
                <th style="text-align:center">年龄</th>
                <th style="text-align:center">手机号码</th>
                <th style="text-align:center">会员等级</th>
                <th style="text-align:center">创建时间</th>
                <th style="text-align:center">操作人员</th>
                <th style="text-align:center">操作</th>
            </tr>
        </thead>
        <tbody id="GetPat">
        </tbody>
      </table>
</div>              
<script>
    var form;
    
    var laydate;
    $(function () {
        layui.use('form', function () {
            form = layui.form;
            var layData = ['form', 'laydate'];
            layui.use(layData, function () {
                var laydate = layui.laydate;
                laydate.render({
                    elem: '#sTime'
                });
                laydate.render({
                    elem: '#eTime'
                });
            });
            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
                return false;
            });

        });
        ShowVIPType();
        ShowPatient();
    })
    //会员下拉
    function ShowVIPType() {
        $.ajax({
            url: "http://localhost:4965/api/Zzh_Patient/GetMemberType",
            type: "get",
            dataType: "json",
            success: function (d) {
                $(d).each(function () {
                    var html = "<option value='" + this.memberTypeId + "'>" + this.memberTypeName + "</option>";
                    $("#VIPgrade").append(html);
                    form.render('select');
                    console.log(d);
                });
            }
        })
    }
    //查询
    function cx() {
        ShowPatient();
    }
   //显示
    function ShowPatient() {
        var name = "";
        if ($("#aaa").val() != null) {
            name = $("#aaa").val();
        } 
        var id = 0;
        if ($("#VIPgrade").val()!=0) {
            id=$("#VIPgrade").val();
        }
        var sdate = $("#sTime").val();
        var edate = $("#eTime").val();
        $.ajax({
            url: "http://localhost:4965/api/Zzh_Patient/GetPatients",
            type: "get",
            data: { name: name, id: id, sdate: sdate, edate: edate },
            dataType: "json",
            success: function (d) {
                $("#GetPat").empty();
                $(d).each(function () {
                    var str = "<tr>" +
                        "<td>" + this.patientId + "</td>" +
                        "<td>" + this.patientCode + "</td>" +
                        "<td>" + this.patientName + "</td>" +
                        "<td>" + (this.patientSex?"男":"女") + "</td>" +
                        "<td>" + this.patientAge + "</td>" +
                        "<td>" + this.patientPhone + "</td>" +
                        "<td style='color:orange'>" + this.memberTypeName + "</td>" +
                        "<td>" + this.aaa + "</td>" +
                        "<td>" + this.caoZuoRenName + "</td>" +
                        "<td><a style='margin-left:15px' onclick='Update(" + this.patientId + ")'>编辑</a><a class='pc' style='margin-left:15px' id='" + this.patientId+"'>设置会员</a><a href='' style='margin-left:15px' onclick='Del(" + this.patientId + ")'>删除</a></td></tr>";
                    $("#GetPat").append(str);
                    console.log(d);
                });
            }
        });
    }
    $(document).on('click', '.pc', function () {
        layer.open({
            type: 2,
            title: false,
            closeBtn: 1, //不显示关闭按钮
            shade: [0],
            area: ['400', '300px'],
            anim: 2,
            content: ['/Zzh_Patient/HuiYuan?id='+ this.id, 'no'], //iframe的url，no代表不显示滚动条
            cancel: function (index, layero) {
                ShowPatient();
            }

        });
    });
    //删除
    function Del(id) {
        confirm("确定要删除吗?")
        {
            $.ajax({
                url: "http://localhost:4965/api/Zzh_Patient/DelPatient?id=" + id,
                type: "post",
                dataType: "json",
                success: function (d) {
                    if (d > 0) {
                        alert("删除成功");
                        location.href = '/Zzh_Patient/GetPatient';
                    }
                    else {
                        alert("删除失败");
                    }
                }
            })
        }
    }
    //修改
    function Update(id) {
        location.href = "/Zzh_Patient/UpdPatient?pid=" + id;
    }
</script>

