
@{
    ViewData["Title"] = "GetPatient";
    Layout = "~/Views/Home/_Layout.cshtml";
}

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/layui-v2.4.5/layui/layui.js"></script>

<div>
    <div>
        <button type="button" class="layui-btn" style="float:right">
            <i class="layui-icon">&#xe608;</i> 添加患者
        </button>
    </div>
    </div>
    <div>
        <div>
            <form class="layui-form">
                <div class="layui-form-item" style="float:left">
                    <label class="layui-form-label">会员类型</label>
                    <div style="width:300px">
                        <div class="layui-input-block">
                            <select name="interest" lay-filter="aihao" id="VIPgrade">
                                <option></option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="layui-input-block" style="width:300px;float:left">
            <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="患者姓名/手机号" class="layui-input">
        </div>
        <div style="float:left">
            <button type="button" class="layui-btn">查询</button>
        </div>
    </div>
    <div>
        <table class="layui-table" style="text-align:center;margin-left:30px">
            <colgroup>
                <col width="150">
                <col width="200">
                <col>
            </colgroup>
            <thead style="background-color:lavender">
            <tr style="background-color: lavender">
                <th style="text-align:center">序号</th>
                <th style="text-align:center">患者编码</th>
                <th style="text-align:center">患者姓名</th>
                <th style="text-align:center">性别</th>
                <th style="text-align:center">年龄</th>
                <th style="text-align:center">手机号码</th>
                <th style="text-align:center">会员等级</th>
                <th style="text-align:center">创建时间</th>
                <th style="text-align:center">操作人员</th>
                <th style="text-align:center">操作</th>
            </tr>
        </thead>
        <tbody id="GetPat">
        </tbody>
      </table>
</div>
               
<script>
    var form;
    $(function () {
        layui.use('form', function () {
            form = layui.form;
    
            //监听提交
            form.on('submit(formDemo)', function (data) {
                layer.msg(JSON.stringify(data.field));
                return false;
            });
        });
        ShowVIPType();
    })
    function ShowVIPType() {
        $.ajax({
            url: "http://localhost:4965/api/Zzh_Patient/ZGetVIPgrade",
            type: "get",
            dataType: "json",
            success: function (d) {
                console.log(d);
                $(d).each(function () {
                    var html = "<option value='" + this.vGradeId + "'>" + this.vGradeName + "</option>";
                    console.log(html);
                    $("#VIPgrade").append(html);
                    form.render('select');
                });
            },
            complete: function () {
                ShowPatient();
            }
        })
    }
   
    function ShowPatient() {
        $.ajax({
            url: "http://localhost:4965/api/Zzh_Patient/GetPatients",
            type: "get",
            dataType: "json",
            success: function (d) {
                $("#GetPat").empty();
                $(d).each(function () {
                    var str = "<tr>" +
                        "<td>" + this.patientId + "</td>" +
                        "<td>" + this.patientCode + "</td>" +
                        "<td>" + this.patientName + "</td>" +
                        "<td>" + this.patientSexId + "</td>" +
                        "<td>" + this.patientAge + "</td>" +
                        "<td>" + this.patientPhone + "</td>" +
                        "<td style='color:orange'>" + this.vGradeName + "</td>" +
                        "<td>" + this.createTime + "</td>" +
                        "<td>" + this.caoPeople + "</td>" +
                        "<td><a href=''  style='margin-left:10px' onclick=''>接诊</a><a href='' style='margin-left:15px' onclick=''>编辑</a><a href='' style='margin-left:15px' onclick=''>设置会员</a><a href='' style='margin-left:15px' onclick=''>删除</a></td></tr>";
                        "<td><a href=''  style='margin-left:10px' onclick=''>接诊</a><a href='' style='margin-left:15px' onclick=''>编辑</a><a href='' style='margin-left:15px' onclick=''>设置会员</a><a href='' style='margin-left:15px' onclick='Del(" + this.patientId + ")'>删除</a></td></tr>";
                    $("#GetPat").append(str);
                })
            }
        })
    }
    function Del(id) {
        $.ajax({
            url: "http://localhost:4965/api/Zzh_Patient/DelPatient?id=" + id,
            type: "post",
            dataType: "json",
            success: function (d) {
                if (d > 0) {
                    alert("删除成功");
                    location.href = '/Zzh_Patient/GetPatient';
                }
                else {
                    alert("删除失败");
                }
            }
        })
    }
</script>

