
@{
    ViewData["Title"] = "UpdPatient";
    Layout = "~/Views/Home/_Layout.cshtml";
}
<script src="~/lib/jquery/dist/jquery.js"></script>
<div>
    <div style="height:100px;">
        <input id="hid" type="hidden" value="@ViewBag.pid" />
        <h2 style="font-weight:bold;margin-left:100px;margin-top:50px;float:left;color:blueviolet">编辑患者信息</h2>
        <button type="button" class="layui-btn" style="width:100px;height:45px;margin-right:100px; float:right;margin-top:50px" onclick="location.href='/Zzh_Patient/GetPatient'">返回</button>
        <button type="button" class="layui-btn" style="width:100px;height:45px;margin-right:30px;float:right;margin-top:50px" onclick="Upd()">保存</button>
    </div>
    <div style="height:100px;margin-top:30px">
        <div>
            <h3 style="margin-top:50px;margin-left:100px;margin-top:40px;float:left">患者姓名</h3>
            <input type="text" id="txt_name" style="width:200px;margin-left:20px;float:left;margin-top:30px;height:45px; border-radius:10px" lay-verify="title" autocomplete="off" placeholder="请填写患者姓名" class="layui-input">
            <h3 style="margin-top:50px;margin-left:80px;margin-top:40px;float:left">患者卡号</h3>
            <input type="text" id="txt_card" style="width:200px;margin-left:20px;float:left;margin-top:30px;height:45px;border-radius:10px" lay-verify="title" autocomplete="off" placeholder="请填写患者卡号" class="layui-input">
            <h3 style="margin-top:50px;margin-left:80px;margin-top:40px;float:left">患者年龄</h3>
            <input type="text" id="txt_age" style="width:200px;margin-left:20px;float:left;margin-top:30px;height:45px;border-radius:10px" lay-verify="title" autocomplete="off" placeholder="请输入数字" class="layui-input">
            <h3 style="margin-top:50px;margin-left:80px;margin-top:40px;float:left">出生日期</h3>
            <form class="layui-form">
                <div class="layui-input-inline" style="margin-left:20px;margin-top:35px;">
                    <input type="text" name="date" id="date" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
            </form>
        </div>
    </div>
    <div style="height:100px">
        <div>
            <div class="layui-form-item" style="float:left;margin-left:78px;margin-top:10px;height:45px;">
                <form class="layui-form">
                    <label class="layui-form-label">性别</label>
                    <div style="width:300px;height:45px;">
                        <div class="layui-input-block">
                            <select name="interest" lay-filter="aihao" id="sex" style="height: 45px;">
                                <option value="true">男</option>
                                <option value="false">女</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div style="float:left;margin-top:10px;">
            <h3 style="margin-top:5px;margin-left:85px;float:left;">手机号码</h3>
            <input type="text" id="txt_phone" style="width:200px;margin-left:20px;float:left;height:45px;border-radius:10px" lay-verify="title" autocomplete="off" placeholder="请填写患者手机号" class="layui-input">
        </div>
        <div style="float:left;margin-top:10px;">
            <h3 style="margin-top:5px;margin-left:80px;float:left">证件号码</h3>
            <input type="text" id="txt_papers" style="width:200px;margin-left:25px;float:left;height:45px;border-radius:10px" lay-verify="title" autocomplete="off" placeholder="请填写患者证件号码" class="layui-input">
        </div>
        <div style="float:left;margin-top:10px;">
            <div style="float:left">
                <div class="layui-form-item" style="float:left;margin-left:50px;height:50px;">
                    <form class="layui-form">
                        <label class="layui-form-label">患者来源</label>
                        <div style="width:300px;">
                            <div class="layui-input-block">
                                <select name="interest" lay-filter="aihao" id="txt_Source">
                                    <option value="1">自来</option>
                                    <option value="2">别人介绍</option>
                                    <option value="3">广告</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div style="height:100px;">
        <div>
            <div class="layui-form-item" style="float:left;margin-left:78px">
                <div class="layui-form-item" style="float:left;">
                    <form class="layui-form">
                        <label class="layui-form-label">会员类型</label>
                        <div style="width:300px;">
                            <div class="layui-input-block">
                                <select name="interest" lay-filter="aihao" id="txt_HuiYuan">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div style="float:left">
                <div style="float:left">
                    <h3 style="margin-top:5px;margin-left:80px;float:left;border-radius:10px">到期时间</h3>
                </div>
                <div class="layui-input-inline" style="margin-left:25px;">
                    <input type="text" name="date" id="date1" style="width:200px" lay-verify="date" placeholder="yyyy-MM-dd" autocomplete="off" class="layui-input">
                </div>
            </div>
            <div>
                <div style="margin-top:5px">
                    <h3 style="margin-top:5px;margin-left:120px;float:left;border-radius:10px">民族</h3>
                </div>
                <div style="margin-top:5px">
                    <input type="text" id="txt_Nation" style="width:200px;margin-left:20px;border-radius:10px;float:left;" lay-verify="title" autocomplete="off" placeholder="请填写民族" class="layui-input">
                </div>
            </div>
            <div style="float:left">
                <div class="layui-form-item" style="float:left;margin-left:50px">
                    <div class="layui-form-item" style="float:left;">
                        <form class="layui-form">
                            <label class="layui-form-label">婚姻状况</label>
                            <div style="width:300px;">
                                <div class="layui-input-block">
                                    <select name="interest" lay-filter="aihao" id="txt_Marital">
                                        <option value="true">已婚</option>
                                        <option value="false">未婚</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div style="height:100px;">
        <div style="float:left">
            <div class="layui-form-item" style="float:left;margin-left:75px">
                <div class="layui-form-item" style="float:left;">
                    <form class="layui-form">
                        <label class="layui-form-label">学历</label>
                        <div style="width:300px;">
                            <div class="layui-input-block">
                                <select name="interest" lay-filter="aihao" id="txt_Education">
                                    <option value="1">初中以下</option>
                                    <option value="2">高中</option>
                                    <option value="3">大专</option>
                                    <option value="4">本科</option>
                                    <option value="5">硕士及以上</option>
                                    <option value="6">未说明</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item" style="float:left;margin-left:68px">
                <div class="layui-form-item" style="float:left;">
                    <form class="layui-form">
                        <label class="layui-form-label">省</label>
                        <div style="width:300px;">
                            <div class="layui-input-block">
                                <select name="interest" lay-filter="aihao" id="txt_sheng" onchange="erji()">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div style="float:left">
            <div class="layui-form-item" style="float:left;margin-left:77px">
                <div class="layui-form-item" style="float:left;">
                    <form class="layui-form">
                        <label class="layui-form-label">市</label>
                        <div style="width:300px;">
                            <div class="layui-input-block">
                                <select name="interest" lay-filter="aihao" id="txt_shi">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div style="float:left;margin-top:3px;margin-left:50px">
            <input type="text" id="txt_Address" style="width:300px;margin-left:25px;float:left;height:40px;border-radius:10px" lay-verify="title" autocomplete="off" placeholder="请填写患者的详细地址" class="layui-input">
        </div>
    </div>

    <div style="height:100px;">
        <div style="float:left">
            <div style="float:left">
                <div class="layui-form-item" style="float:left;margin-left:50px">
                    <div class="layui-form-item" style="float:left;">
                        <form class="layui-form">
                            <label class="layui-form-label">科室</label>
                            <div style="width:300px;">
                                <div class="layui-input-block">
                                    <select name="interest" lay-filter="aihao" id="txt_Departments">
                                        <option value="1">全科</option>
                                        <option value="2">儿科</option>
                                        <option value="3">骨科</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div style="float:left">
                <div style="float:left">
                    <div class="layui-form-item" style="float:left;margin-left:-9px">
                        <div class="layui-form-item" style="float:left;">
                            <form class="layui-form">
                                <label class="layui-form-label">职业</label>
                                <div style="width:300px;">
                                    <div class="layui-input-block">
                                        <select name="interest" lay-filter="aihao" id="txt_Position">
                                            <option value="1">工人</option>
                                            <option value="2">公务员</option>
                                            <option value="3">医生</option>
                                            <option value="4">教师</option>
                                            <option value="5">互联网从业者</option>
                                            <option value="6">未说明</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div style="float:left">
                    <div style="float:left">
                        <div class="layui-form-item" style="float:left;margin-left:-4px">
                            <div class="layui-form-item" style="float:left;">
                                <form class="layui-form">
                                    <label class="layui-form-label">患者状态</label>
                                    <div style="width:300px;">
                                        <div class="layui-input-block">
                                            <select name="interest" lay-filter="aihao" id="txt_PState">
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div style="float:left">
                        <div class="layui-form-item" style="float:left;margin-left:-14px">
                            <div class="layui-form-item" style="float:left;">
                                <form class="layui-form">
                                    <label class="layui-form-label">操作人</label>
                                    <div style="width:300px;">
                                        <div class="layui-input-block">
                                            <select name="interest" lay-filter="aihao" id="txt_czr">
                                            </select>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div style="float:left;">
                        <div style="margin-top:5px">
                            <h3 style="margin-top:5px;margin-left:125px;float:left;border-radius:10px">备注</h3>
                            <input type="text" id="txt_Remark" style="width:200px;margin-left:20px;float:left;border-radius:10px" lay-verify="title" autocomplete="off" placeholder="请填写患者备注" class="layui-input">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <h2 style="font-weight:bold;margin-left:100px;float:left;color:blueviolet">家庭成员</h2>
    </div>
    <div style="margin-top:50px;margin-left:50px">
        <h3 style="margin-top:5px;margin-left:85px;float:left;border-radius:10px">成员关系</h3>
        <h3 style="margin-top:5px;margin-left:145px;float:left;border-radius:10px">家庭成员名称</h3>
        <h3 style="margin-top:5px;margin-left:204px;float:left;border-radius:10px">患者家庭成员性别</h3>
        <h3 style="margin-top:5px;margin-left:135px;float:left;border-radius:10px">患者家庭成员年龄</h3>
        <h3 style="margin-top:5px;margin-left:135px;float:left;border-radius:10px">患者家庭成员手机号</h3>
    </div>
    <div style="margin-top:96px;">
        <div style="margin-top:20px">
            <div style="margin-top:40px;margin-left:20px">
                <div class="layui-form-item" style="float:left;">
                    <form class="layui-form">
                        <div style="width:250px;">
                            <div class="layui-input-block">
                                <select name="interest" lay-filter="aihao" id="txt_familyTies">
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <input type="text" id="txt_releFamilyName" style="width:200px;margin-left:70px;float:left;border-radius:10px" lay-verify="title" autocomplete="off" placeholder="请填写家庭成员名称" class="layui-input">
            <div style="float:left;">
                <div class="layui-form-item">
                    <form class="layui-form">
                        <div style="width:250px;">
                            <div class="layui-input-block">
                                <select name="interest" lay-filter="aihao" id="txt_fsex">
                                    <option value="true">男</option>
                                    <option value="false">女</option>
                                </select>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <input type="text" id="txt_releFamilyAge" style="width:200px;margin-left:120px;float:left;border-radius:10px" lay-verify="title" autocomplete="off" placeholder="请填写家庭成员年龄" class="layui-input">
            <input type="text" id="txt_releFamilyPhone" style="width:200px;margin-left:70px;float:left;border-radius:10px" lay-verify="title" autocomplete="off" placeholder="请填写家庭成员手机号" class="layui-input">
        </div>
    </div>
</div>
<script>
    var form;
    layui.use(['form', 'layedit', 'laydate'], function () {
        form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });
        //监听提交
        form.on('submit(formDemo)', function (data) {
            layer.msg(JSON.stringify(data.field));
            return false;
        });
        Sheng();
        City();
        CZR();
        GuanXi();
        HuiYuan();
        HuiXian();
        State();
    });
    function GuanXi() {
        $.ajax({
            url: "http://localhost:4965/api/Zzh_Patient/GetFamilyTies",
            type: "get",
            dataType: "json",
            success: function (d) {
                $(d).each(function () {
                    var html = "<option value='" + this.familyTiesId + "'>" + this.familyTiesName + "</option>";
                    $("#txt_familyTies").append(html);
                    form.render('select');
                });
            }
        })
    }
    function HuiYuan() {
        $.ajax({
            url: "http://localhost:4965/api/Zzh_Patient/GetMemberType",
            type: "get",
            dataType: "json",
            success: function (d) {
                $(d).each(function () {
                    var html = "<option value='" + this.memberTypeId + "'>" + this.memberTypeName + "</option>";
                    $("#txt_HuiYuan").append(html);
                    form.render('select');
                });
            }
        })
    }
    function CZR() {
        $.ajax({
            url: "http://localhost:4965/api/Zzh_Patient/GetCaoZuoRen",
            type: "get",
            dataType: "json",
            success: function (d) {
                $(d).each(function () {
                    var html = "<option value='" + this.caoZuoRenId + "'>" + this.caoZuoRenName + "</option>";
                    $("#txt_czr").append(html);
                    form.render('select');
                });
            }
        })
    }
    //省下拉
    function Sheng() {
        $.ajax({
            url: "http://localhost:4965/api/Zzh_Patient/GetProvince",
            type: "get",
            dataType: "json",
            success: function (d) {
                $(d).each(function () {
                    var html = "<option value='" + this.provinceId + "'>" + this.provinceName + "</option>";
                    $("#txt_sheng").append(html);
                    form.render('select');
                });
            }
        })
    }
    //市下拉
    function City() {
        $.ajax({
            url: "http://localhost:4965/api/Zzh_Patient/GetCity",
            type: "get",
            dataType: "json",
            success: function (d) {
                $(d).each(function () {
                    var html = "<option value='" + this.cityId + "'>" + this.cityName + "</option>";
                    $("#txt_shi").append(html);
                    form.render('select');
                });
            }
        })
    }
    //省市二级联动
    function erji() {
        var id = $("#txt_sheng").val();
        $.ajax({
            url: "http://localhost:4965/api/Zzh_Patient/GetCitys?provinceId=" + id,
            type: "get",
            dataType: "json",
            success: function (d) {
                $("#txt_shi").val();
                $(d).each(function () {
                    var html = "<option value='" + this.cityId + "'>" + this.cityName + "</option>";
                    $("#txt_shi").append(html);
                    form.render('select');
                });
            }
        })
    }
    function State() {
        $.ajax({
            url: "http://localhost:4965/api/Zzh_Patient/GetPatientState",
            type: "get",
            dataType: "json",
            success: function (d) {
                $(d).each(function () {
                    var html = "<option value='" + this.patientStateId + "'>" + this.patientStateName + "</option>";
                    $("#txt_PState").append(html);
                    form.render('select');
                });
            }
        })
    }
    function HuiXian() {
        $.ajax({
            url: "http://localhost:4965/api/Zzh_Patient/ShowPatient?patientId=" + @ViewBag.pid,
            type: "get",
            dataType: "json",
            success: function (d) {
                $("#txt_name").val(d.patientName);
                $("#txt_card").val(d.patientCard);
                $("#txt_age").val(d.patientAge);
                $("#date").val(d.patientDateBirth);
                $("#sex").val(d.patientSex);
                $("#txt_phone").val(d.patientPhone);
                $("#txt_papers").val(d.patientpapers);
                $("#txt_Source").val(d.patientSource);
                $("#txt_HuiYuan").val(d.memberTypeId);
                $("#date1").val(d.endData);
                $("#txt_Nation").val(d.nation);
                $("#txt_Marital").val(d.maritalStatus);
                $("#txt_Education").val(d.educationId);
                $("#txt_sheng").val(d.provinceId);
                $("#txt_shi").val(d.cityId);
                $("#txt_Address").val(d.patientAddress);
                $("#txt_Position").val(d.position);
                $("#txt_czr").val(d.caoPeopleId);
                $("#txt_Departments").val(d.departments);
                $("#txt_Remark").val(d.remark);
                $("#txt_familyTies").val(d.familyTiesId);
                $("#txt_releFamilyName").val(d.releFamilyName);
                $("#txt_fsex").val(d.releFamilySex);
                $("#txt_releFamilyAge").val(d.releFamilyAge);
                $("#txt_releFamilyPhone").val(d.releFamilyPhone);
                $("#txt_PState").val(d.patientStateId)
            }
        })
    }
    function Upd() {
        var str = {
            PatientId: $("#hid").val(),
            PatientName: $("#txt_name").val(),
            PatientCard: $("#txt_card").val(),
            PatientAge: $("#txt_age").val(),
            PatientDateBirth: $("#date").val(),
            PatientSex: $("#sex").val(),
            PatientPhone: $("#txt_phone").val(),
            Patientpapers: $("#txt_papers").val(),
            PatientSource: $("#txt_Source").val(),
            MemberTypeId: $("#txt_HuiYuan").val(),
            EndData: $("#date1").val(),
            Nation: $("#txt_Nation").val(),
            MaritalStatus: $("#txt_Marital").val(),
            Education:$("#txt_Education").val(),
            ProvinceId: $("#txt_sheng").val(),
            CityId: $("#txt_shi").val(),
            PatientAddress: $("#txt_Address").val(),
            Position: $("#txt_Position").val(),
            CaoPeopleId: $("#txt_czr").val(),
            Departments: $("#txt_Departments").val(),
            Remark: $("#txt_Remark").val(),
            FamilyTiesId: $("#txt_familyTies").val(),
            ReleFamilyName: $("#txt_releFamilyName").val(),
            ReleFamilySex: $("#txt_fsex").val(),
            ReleFamilyAge: $("#txt_releFamilyAge").val(),
            ReleFamilyPhone: $("#txt_releFamilyPhone").val(),
            PatientStateId: $("#txt_PState").val()
        }
        $.ajax({
            url: "http://localhost:4965/api/Zzh_Patient/UpdPatient",
            type: "post",
            dataType: "json",
            data: str,
            success: function (d) {
                if (d > 0) {
                    alert("编辑成功");
                    location.href = "/Zzh_Patient/GetPatient";
                }
                else {
                    alert("编辑失败");
                }
            }
        })
    }
</script>