
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Home/_Layout.cshtml";
    <script src="~/lib/jquery/dist/jquery.js"></script>
}

<body>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <link rel="icon" href="https://static.jianshukeji.com/hcode/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://code.highcharts.com/css/highcharts.css" />
    <style>
        #container {
            height: 400px;
            max-width: 800px;
            min-width: 320px;
            margin: 0 auto;
        }

        .highcharts-pie-series .highcharts-point {
            stroke: #EDE;
            stroke-width: 2px;
        }

        .highcharts-pie-series .highcharts-data-label-connector {
            stroke: silver;
            stroke-dasharray: 2, 2;
            stroke-width: 2px;
        }
    </style>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="https://code.highcharts.com.cn/highcharts/highcharts.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/exporting.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/modules/oldie.js"></script>
    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="https://code.highcharts.com.cn/highcharts/themes/dark-unica.js"></script>
</body>
<div style="background-color:gainsboro;width:1400px;height:910px;margin-left:136px;">
    <div style="float:left;height:438px;width:840px;margin-top:208px">

    </div>
    <div style="float:left;height:438px;width:485px;margin-top:208px;margin-left:45px;background-color:darkgrey" id="container">

    </div>
</div>
<script>

    $(function () {
        showYU();

    })

    function ZX() {

    }
    function showYU() {

        $.ajax({
            url: "http://localhost:4965/api/ZHQ_First/GetDrug_administration",
            data: {},
            type: "get",
            dataType: "json",
            success: function (d) {
                var arr = [];
                $(d).each(function () {

                    var de = [];
                    de.push(this.drugTYM);
                    de.push(this.drugXSNum);
                    de.push(false);
                    arr.push(de);
                })


                YX(arr);
            }
        })
    }
    function YX(arr) {
        Highcharts.chart('container', {
            chart: {
                styledMode: true
            },
            title: {

                text: '药品销售数量占比图'
            },
            //xAxis: {
            //    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
            //},
            series: [{
                type: 'pie',
                allowPointSelect: true,
                keys: ['name', 'y', 'selected', 'sliced'],
                data: arr,
                showInLegend: true
            }]
        });
    }
</script>
